// DRAGBALLs
.row1.LP-DEVICE(id="mob-silder-wrap", style="position:relative;")
  .mob-slider.dragscroll
    +dragball('https://www.lechateau.com/style/jump/Women/category/catwfr10001', 'stopslider-191011-en-m_01', 'Women')
    +dragball('https://www.lechateau.com/style/jump/HOMMES/category/catmfr20001', 'stopslider-191011-en-m_02', 'Men')
    +dragball('https://www.lechateau.com/style/jump/Shoes+/category/catsfr50001', 'stopslider-191011-en-m_03', 'Shoes')
    +dragball('https://www.lechateau.com/style/jump/Coats+%26+Jackets/category/catwfr10031', 'stopslider-191011-en-m_04', 'Women Coats')
    +dragball('https://www.lechateau.com/style/jump/Coats+%26+Jackets/category/catmfr20030', 'stopslider-191011-en-m_05', 'Men Coats')
    +dragball('https://www.lechateau.com/style/jump/Sweaters+%26+Cardigans/category/cat43770731', 'stopslider-191011-en-m_06', 'Women Sweaters')
    +dragball('https://www.lechateau.com/style/jump/Sweaters+%26+Cardigans/category/catmfr20027', 'stopslider-191011-en-m_07', 'Men Sweaters')
    +dragball('https://www.lechateau.com/style/jump/Dress+Shop/category/catwfr10022', 'stopslider-191011-en-m_08', 'Dresses')
    +dragball('https://www.lechateau.com/style/jump/Jewellery/category/cat38030787', 'stopslider-191011-en-m_09', 'Accessories')
    +dragball('https://www.lechateau.com/style/jump/Handbags+%26+Wallets/category/cat130018', 'stopslider-191011-en-m_10', 'Bags')
    +dragball('https://www.lechateau.com/style/jump/The+Wedding+Boutique/category/cat38761589', 'stopslider-191011-en-m_11', 'Wedding')
    +dragball('https://www.lechateau.com/style/jump/SALE/category/cat260028', 'stopslider-sale-190906-en-m_01', 'Sale')
    //+dragball('https://www.lechateau.com/style/jump/OUTLET/category/cat37310715', 'stopslider-191015-en-m_02', 'Outlet')
    +dragball('https://www.lechateau.com/style/jump/OUTLET/category/cat37310715', 'stopslider-191108-FS-en-m', 'Outlet')
    +dragball('https://www.lechateau.com/style/jump/CLEARANCE/category/cat45930750', 'stopslider-h-191016-en', 'Clearance')