style.
    .wrapper {
    padding: 0px !important;
    margin-bottom: 0px !important;
    }
    @media (min-width:592px) {
    .FS-SHOW-DESKTOP {
    display: block;
    }
    .FS-SHOW-MOBILE {
    display: none;
    }
    }
    @media (max-width:591px) {
    .FS-SHOW-DESKTOP {
    display: none;
    }
    .FS-SHOW-MOBILE {
    display: block;
    }
    }
    img[usemap] {
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;
    }
    @media (max-width: 767px) {
    .categoryBanner,
    #catBanner {
    display: inline !important;
    }
    }
    .outlet-bar {
    background-color: white !important;
    }
    @media (max-width: 700px) {
    #content.landing,
    #content.listing,
    #content.home,
    #content.sales {
    padding-top: 0px;
    }
    .outlet-bar.black {
    padding-top: 54px;
    }
    }
    @media (max-width: 591px) {
    #content.landing,
    #content.listing,
    #content.home,
    #content.sales {
    padding-top: 0px;
    }
    .outlet-bar.black {
    padding-top: 32px;
    }
    }