style(type='text/css').
    .wrapper {
    padding: 0px !important;
    margin-bottom: 0px !important;
    }
    img[usemap] {
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;
    }
    .wrapper.newBanner.copy-name .category-name h1 {
    color: black;
    }
    .wrapper.newBanner.copy-name .category-name h1 span {
    display: none;
    }
    /*
    .wrapper.newBanner.copy-name .content .bloc2 {
    padding-top: 10px;
    }
    */
    .pricebox {
    display: none;
    }
    .wrapper.newBanner.copy-name .copy {
    display: none;
    }
    .wrapper.newBanner.blocnew.copy-name .category-name {
    margin: 0px;
    }
    .wrapper.newBanner.copy-name .category-name {
    margin: 0px;
    }
    .wrapper.newBanner.copy-name .category-name h1 {
    color: black;
    }
    .content .bloc2 {
    background: #eaeaea;
    }
    .wrapper.newBanner.copy-name.blocnew .category-name h1 {
    font-family: 'GothamLight';
    font-size: 15px;
    line-height: 15px;
    }
    .LP-DEVICE {
    display: block;
    }
    .LP-DESKTOP {
    display: none;
    }
    .condition {
    display: none;
    }
    @media (min-width: 768px) {
    .wrapper.newBanner.copy-name .copy {
    display: block;
    }
    .wrapper.newBanner.copy-name .category-name {
    margin: 5px auto 14px;
    }
    .wrapper.newBanner.copy-name .category-name h1 span {
    display: inline;
    }
    .wrapper.newBanner.blocnew .content .bloc2 {
    padding-top: 10px;
    background: white;
    }
    .wrapper.newBanner .content .bloc2 {
    /*				padding-top: 10px;*/
    background: #ffd81f;
    }
    .pricebox {
    display: block;
    }
    .condition {
    display: block;
    }
    .wrapper.newBanner.copy-name.blocnew .category-name h1 {
    font-family: 'GothamLight';
    font-size: 16px;
    }
    .LP-DESKTOP {
    display: block;
    }
    .LP-DEVICE {
    display: none;
    }
    }
    @media (max-width: 591px) {
    .wrapper.newBanner.copy-name .category-name h1 {
    font-family: 'GothamLight';
    }
    }
    @media (max-width: 767px) {
    .categoryBanner,
    #catBanner {
    display: inline !important;
    }
    }
    .wrapper.newBanner img {
    max-width: 100%;
    }