|
|
// 	SEO GRID CSS
style.
    .show {
    display: none;
    color: black;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    }
    .containhidden {
    display: none;
    }
    .more-content.hide {
    display: block;
    }
    @media (max-width: 591px) {
    .show {
    display: block;
    }
    .more-content.hide {
    display: none;
    transition: transform 1s linear;
    }
    .more-content {
    display: block;
    transition: transform 1s linear;
    }
    .containhidden {
    display: block;
    }
    }
    .grid-seo {
    width: 90%;
    display: block;
    padding-bottom: 10px;
    margin: 0 auto;
    }
    .grid-seo h1 {
    width: 100%;
    margin-bottom: 15px;
    padding-top: 10px;
    font-family: 'MuseoSans-500';
    font-size: 14px;
    text-transform: uppercase;
    }
    .grid-seo h2.title {
    width: 100%;
    margin-bottom: 15px;
    padding-top: 10px;
    font-family: 'MuseoSans-500';
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    }
    .grid-seo span {
    font-family: 'MuseoSans-300';
    font-size: 12px;
    text-align: justify;
    }
    .grid-seo h2 {
    font-family: 'MuseoSans-300';
    font-size: 12px;
    text-align: justify;
    display: inline;
    }
    .grid-seo h3 {
    font-family: 'MuseoSans-300';
    font-size: 12px;
    text-align: justify;
    display: inline;
    }
    .grid-seo a {
    text-decoration: underline;
    font-weight: bold;
    display: inline-block;
    }
    #content>div.wrapper>div.main {
    padding-top: 0px !important;
    }
    @media (max-width: 768px) {
    .grid-seo {
    width: 90%;
    margin: auto;
    }
    }