style.
    #sliderTwo {
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    width: 100%;
    position: relative;
    }
    #sliderRes .slick-slide {
    max-width: 1300px;
    width: 100%;
    }
    #sliderTwo #dotsTwo button {
    background: none;
    color: #babbbd;
    height: 9px;
    line-height: 9px;
    padding: 0px;
    display: inline-block;
    float: left;
    width: 9px;
    text-transform: uppercase;
    font-size: 0px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    min-width: 9px;
    background-color: #babbbd;
    margin-right: 9px;
    }
    #sliderTwo .slick-dots {
    width: 100%;
    text-align: center;
    }
    #sliderTwo .slick-dots li {
    display: inline-block;
    }
    #sliderTwo #dotsTwo .slick-active button {
    background-color: #76787c;
    color: #76787c;
    }
    #sliderTwo #arrowsTwo button {
    background: none;
    color: #b6b0b0;
    height: 30px;
    line-height: 44px;
    padding: 0 15px;
    display: inline-block;
    min-width: 30px;
    text-transform: uppercase;
    font-size: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    }
    #sliderTwo #arrowsTwo {
    position: absolute;
    top: 45%;
    width: 100%;
    margin: auto;
    }
    #sliderTwo #arrowsTwo>div {
    position: relative;
    width: 100%;
    max-width: 2000px;
    margin: auto;
    display: block;
    }
    /* Prev arrow */
    #sliderTwo #arrowsTwo .slick-prev {
    position: absolute;
    left: 0;
    top: 0;
    }
    /* Next arrow */
    #sliderTwo #arrowsTwo .slick-next {
    position: absolute;
    right: 0;
    top: 0;
    }
    #sliderTwo #arrowsTwo a.button:after,
    #sliderTwo #arrowsTwo button:after,
    #sliderTwo #dotsTwo a.button:after,
    #sliderTwo #dotsTwo button:after {
    border: none;
    }
    #sliderTwo .slick-slide .hero {
    width: 100%;
    max-width: 2000px;
    padding: 0 20px;
    }
    #sliderTwo .slick-slide img {
    max-width: none;
    width: 100%;
    }