.grid-seo.margin-20.stay
  div(style='max-width: 1300px;margin:0 auto;')
    h1 SHOES FOR WOMEN
    div
      span
        | LE CH&Acirc;TEAU is the ultimate shoe destination for everyone. Shop all the 
        a(href='https://www.lechateau.com/style/jump/New+Arrivals/category/cat400161', title="Shop New Women's Shoes")
          h2 newest
        |  and coolest trends. All 
        a(href='https://www.lechateau.com/style/jump/All+Shoes/category/cat38531287', title="Shop Women's Shoes")
          h2 shoes
        |  for every style 
        a(href='https://www.lechateau.com/style/jump/Heels/category/cat37670717', title="Shop Women's Heels Sandals")
          h2 heels
        | , block heels, 
        a(href='https://www.lechateau.com/style/jump/Wedges/category/cat37390723', title="Shop Women's Wegdes Sandals")
          h2 wedges
        |  and classic 
        a(href='https://www.lechateau.com/style/jump/Flats/category/cat37390721', title="Shop Women's Flats Sandals")
          h2 flats
        | . Shop 
        a(href='https://www.lechateau.com/style/jump/Mules/category/cat46060728', title="Shop Women's Mules")
          h2 mules
        |  every look and 
        a(href='https://www.lechateau.com/style/jump/Pumps/category/catsfr51002', title="Shop Women's Pumps")
          h2 pumps
        |  in every heel height. Make a statement on the dance floor in our 
        a(href='https://www.lechateau.com/style/jump/Night+Out/category/cat39170936', title="Shop Women's Night Out Shoes")
          h2 night out shoes
        |  and turns heads at your next event wearing our 
        a(href='https://www.lechateau.com/style/jump/Evening/category/cat38130728', title="Shop Women's Evening Shoes")
          h2 evening collection
        | .
    .more-content.hide
      br
      span
        | Shop LE CH&Acirc;TEAU 
        a(href='https://www.lechateau.com/style/jump/Flats/category/catsfr51005', title="Shop Women's Flats")
          h2 flats
        |  to elevate without the height and discover trendy and comfortable loafers, 
        a(href='https://www.lechateau.com/style/jump/Flats/category/catsfr51005', title="Shop Women's Sneakers")
          h2 sneakers
        |  and more. LE CH&Acirc;TEAU has 
        a(href='https://www.lechateau.com/style/jump/Boots/category/cat45250704', title="Shop Women's Boots")
          h2 boots
        |  for all seasons. Explore LE CH&Acirc;TEAU's 
        a(href='https://www.lechateau.com/style/jump/Leather+%26+Suede/category/cat38270703', title="Shop Women's Leather and Suede Shoes")
          h2 leather and suede
        |  collection, our 
        a(href='https://www.lechateau.com/style/jump/FLEX+Collection/category/catmodareflex', title="Shop Women's Flex Shoes")
          h2 FLEX comfort
        |  collection and our editorial 
        a(href='https://www.lechateau.com/style/jump/LUXE+Collection/category/cat38682206', title="Shop Women's Italian Leather Boots & Shoes")
          h2 LUXE
        |  collection. 
        a(href='https://www.lechateau.com/style/jump/Shoes/category/cat38030790', title="Shop Men's Shoes")
          h2 Men
        |  can step up their style game with LE CH&Acirc;TEAU shoes too.
    p.containhidden
      br
      span#show.show Read more