.grid-seo.margin-20.stay
  div(style='max-width: 1300px;margin:0 auto;')
    h1 CHAUSSURES POUR FEMMES
    div
      span
        | LE CH&Acirc;TEAU est la destination chaussures par excellence. Magasinez les 
        a(href='https://www.lechateau.com/style/jump/New+Arrivals/category/cat400161', title='Magasinez les nouvelles chaussures pour femmes')
          h2 nouveaut&eacute;s
        |  Magasinez les nouveaut&eacute;s et les tendances les plus cool. Des  
        a(href='https://www.lechateau.com/style/jump/All+Shoes/category/cat38531287', title='Magasinez les chaussures pour femmes')
          h2 chaussures
        |  pour tous les styles : 
        a(href='https://www.lechateau.com/style/jump/Heels/category/cat37670717', title='Magasinez les sandales &agrave; talons hauts pour femmes')
          h2 talons hauts
        | , talons blocs, 
        a(href='https://www.lechateau.com/style/jump/Wedges/category/cat37390723', title='Magasinez les sandales &agrave; talons compens&eacute;s pour femmes')
          h2 talons compens&eacute;s
        |  et 
        a(href='https://www.lechateau.com/style/jump/Flats/category/cat37390721', title='Magasinez les sandales &agrave; talons plats pour femmes')
          h2 talons plats
        |  classiques. Magasinez les  
        a(href='https://www.lechateau.com/style/jump/Mules/category/cat46060728', title='Magasinez les mules pour femmes')
          h2 mules
        |  pour tous les looks et les 
        a(href='https://www.lechateau.com/style/jump/Pumps/category/catsfr51002', title='Magasinez les escarpins pour femmes')
          h2 escarpins
        |  dans toutes les hauteurs de talon. Faites fureur sur la piste de danse dans nos 
        a(href='https://www.lechateau.com/style/jump/Night+Out/category/cat39170936', title='Magasinez les chaussures pour sortie en soir&eacute;e pour femmes')
          h2 chaussures pour sortie en soir&eacute;e
        |  et faites tourner les t&ecirc;tes lors de votre prochain &eacute;v&eacute;nement en portant notre 
        a(href='https://www.lechateau.com/style/jump/Evening/category/cat38130728', title='Magasinez la collection de chaussures de soir&eacute;e pour femmes')
          h2 collection de soir&eacute;e
        | .
    .more-content.hide
      br
      span
        | Magasinez les 
        a(href='https://www.lechateau.com/style/jump/Flats/category/catsfr51005', title='Magasinez les chaussures &agrave; talon plat pour femmes')
          h2 chaussures &agrave; talon plat
        |  LE CH&Acirc;TEAU pour donner du style &agrave; votre look en tout confort et d&eacute;couvrez nos fl&acirc;neurs, 
        a(href='https://www.lechateau.com/style/jump/Flats/category/catsfr51005', title='Magasinez les chaussures athl&eacute;tiques pour femmes')
          h2 chaussures athl&eacute;tiques
        |  et plus. LE CH&Acirc;TEAU offre des 
        a(href='https://www.lechateau.com/style/jump/Boots/category/cat45250704', title='Magasinez les bottes pour femmes')
          h2 bottes
        |  pour toutes les saisons. Explorez la collection en 
        a(href='https://www.lechateau.com/style/jump/Leather+%26+Suede/category/cat38270703', title='Magasinez les chaussures en cuir et su&egrave;de pour femmes')
          h2 cuir et su&egrave;de
        |  de LE CH&Acirc;TEAU, notre collection 
        a(href='https://www.lechateau.com/style/jump/FLEX+Collection/category/catmodareflex', title='Magasinez les chaussures FLEX confort pour femmes')
          h2 FLEX confort
        |  et notre collection 
        a(href='https://www.lechateau.com/style/jump/LUXE+Collection/category/cat38682206', title='Magasinez les chaussures faites en Italie pour femmes')
          h2 LUXE
        | . Les hommes peuvent eux aussi rehausser leur style avec des 
        a(href='https://www.lechateau.com/style/jump/Shoes/category/cat38030790', title='Magasinez les chaussures pour hommes')
          h2 chaussures
        |  LE CH&Acirc;TEAU.
    p.containhidden
      br
      span#show.show Voir plus