|
|
|

// SEO - WOMEN
|
|
.grid-seo.margin-20.stay
  div(style='max-width: 1300px;margin:0 auto;')
    h1 WOMEN'S CLOTHING
    div
      span
        | This season, refresh your fall wardrobe with LE CH&Acirc;TEAU's 
        a(href='https://www.lechateau.com/style/jump/New+Arrivals/category/catwfr10020', title="Shop Women's New Arrivals")
          h2 newest arrivals
        |  for Women. For work, weekend or any social occasion, ease into this season with our collection of standout day to night 
        a(href='https://www.lechateau.com/style/jump/Dresses/category/cat37630709', title='Shop Dresses')
          h2 dresses
        | . Alternatively, make a statement in a fun and flattering  
        a(href='https://www.lechateau.com/style/jump/Jumpsuits/category/cat37520707', title='Shop Jumpsuit')
          h2 jumpsuit
        | . Infuse some colour into your closet with fall 
        a(href='https://www.lechateau.com/style/jump/Tops/category/catwfr10025', title="Shop Women's Tops")
          h2 tops
        | , blouses and t-shirts. For those cooler nights, 
        a(href='https://www.lechateau.com/style/jump/Sweaters+%26+Cardigans/category/cat43770731', title="Shop Women's Sweaters & Cardigans")
          h2 sweaters and cardigans
        |  are seasonal must-haves. Go for a cool-girl duster cardigan or a classic scoop neck sweater.
    .more-content.hide
      br
      span
        | Layer up with a stylish 
        a(href='https://www.lechateau.com/style/jump/Jumpsuits/category/cat37520707', title="Shop Women's Jackets & Coats")
          h2 jacket or coat
        | , such as this season's moto jacket, timeless trench, or on-trend anorak. Make a chic statement at the office with 
        a(href='https://www.lechateau.com/style/jump/Blazers+%26+Vests/category/catwfr10030', title="Shop Women's Blazers & Vests")
          h2 blazers and vests
        |  in neutral tones, checkered prints, and pops of coral. From denim to culottes and trousers, these essential 
        a(href='https://www.lechateau.com/style/jump/Pants/category/catwfr10028', title="Shop Women's Pants")
          h2 pants
        |  will be your everyday essentials. Add feminine flair to your style with, a mini, A-line or pencil 
        a(href='https://www.lechateau.com/style/jump/Skirts/category/catwfr10029', title="Shop Women's Skirts")
          h2 skirt
        | . We've got  
        a(href='https://www.lechateau.com/style/jump/Plus+Size/category/cat44810713', title="Shop Women's Plus Size Clothing")
          h2 plus-size
        |  too, with day-to-night styles up to 3X/22W.
    p.containhidden
      br
      span#show.show Read more