.grid-seo.margin-20.stay
  div(style='max-width: 1300px;margin:0 auto;')
    h1 V&Ecirc;TEMENTS POUR FEMMES
    div
      span
        | Cette saison, rafra&icirc;chissez votre garde-robe d'automne avec les plus 
        a(href='https://www.lechateau.com/style/jump/New+Arrivals/category/catwfr10020', title='Magasinez les nouveaut&eacute;s pour femmes')
          h2 r&eacute;centes nouveaut&eacute;s
        |  pour femmes de LE CH&Acirc;TEAU. Pour le travail, le week-end ou les sorties, profitez avec style de la saison avec notre collection de magnifiques 
        a(href='https://www.lechateau.com/style/jump/Dresses/category/cat37630709', title='Magasinez les robes')
          h2 robes
        |  de jour et de soir. Ou encore, faites preuve d'audace et optez pour une 
        a(href='https://www.lechateau.com/style/jump/Jumpsuits/category/cat37520707', title='Magasinez les combi-pantalons')
          h2 combi-pantalon
        |  polyvalente et seyante. Insufflez une dose de couleurs dans votre garde-robe avec des 
        a(href='https://www.lechateau.com/style/jump/Tops/category/catwfr10025', title='Magasinez les hauts pour femmes')
          h2 hauts
        | , blouses et t-shirts d'automne. Pour les soir&eacute;es plus fra&icirc;ches, les 
        a(href='https://www.lechateau.com/style/jump/Sweaters+%26+Cardigans/category/cat43770731', title='Magasinez les chandails et cardigans pour femmes')
          h2 chandails et cardigans
        |  sont des essentiels de la saison. Optez pour un cardigan cool ou un tricot &agrave; encolure d&eacute;gag&eacute;e classique.
    .more-content.hide
      br
      span
        | Superposez avec style gr&acirc;ce &agrave; un 
        a(href='https://www.lechateau.com/style/jump/Jumpsuits/category/cat37520707', title='Magasinez les blousons et manteaux pour femmes')
          h2 blouson ou un manteau
        | , comme le blouson de moto de la saison, un trench classique ou un anorak tendance. Faites sensation au bureau et partout ailleurs avec des 
        a(href='https://www.lechateau.com/style/jump/Blazers+%26+Vests/category/catwfr10030', title='Magasinez les vestes et gilets pour femmes')
          h2 vestes et gilets
        |  r&eacute;invent&eacute;s dans des tons neutres, des motifs de carreaux et des touches de corail. En version denim, jupe-culotte ou style tailleur, ces 
        a(href='https://www.lechateau.com/style/jump/Pants/category/catwfr10028', title='Magasinez les pantalons pour femmes')
          h2 pantalons
        |  essentiels deviendront vos articles de pr&eacute;dilection. Ajoutez une touche f&eacute;minine &agrave; votre style avec une 
        a(href='https://www.lechateau.com/style/jump/Skirts/category/catwfr10029', title='Magasinez les jupes pour femmes')
          h2 jupe
        |  mini, ligne A ou crayon. Nous offrons plus de styles en plus de tailles, avec des styles 
        a(href='https://www.lechateau.com/style/jump/Plus+Size/category/cat44810713', title='Magasinez les v&ecirc;tements taille plus pour femme')
          h2 taille plus
        |  du bureau &agrave; l'ap&eacute;ro allant jusqu'&agrave; 3X/22W.
    p.containhidden
      br
      span#show.show Voir plus