//- button classes : regular(black), secondary(white), gothamMed underlineCTA (black underline)
//- Gif picture use complete path : https://lechateau.scene7.com/is/content/LeChateau/landing/shops/home/lechateau-180422-en-d_13.gif
//- Mixins: 
//-   +hero(link, seo, alt-text, hero-img, desktop-img, mobile-img, lazyload=true)
//-   +bckImg(link, seo, alt-text, desktop image, mob image, lazyload=true)
//-   +cta(text, href, seo) //for ctas within .ctas
//-   +map(link, seo) //for image-map within .image-map
//-   +youtube() need to add +youtubeScript('videoId') at end of the page
//-   +shopIcon(link, lang)(style="left:0%; top:0%;") //within .ctas
//-
//- break-point: LP-DESKTOP / LP-DEVICE
//-
//-.row
//-  .ctas.LP-DESKTOP
//-    +cta('text', 'href', 'seo')
//-    |
//-    |
//-  +bckImg('link', 'seo', 'alt-text', 'desktop', 'mob')
//-  |
//-  |
//-  |
//-  // image
//-  .image-map
//-    +map('link', 'seo')
//-    |
//-    |
|
|
|
|
style.
    @media (max-width: 768px) {
    .row.margin-0 {
    margin-top: 60px;
    margin-top: calc((40/591) * 100%);
    }
    }

//-START ----------------------
// ROW
.row.row1
  // image
  +bckImg('https://www.lechateau.com/style/jump/Robes/category/cat37310731', 
		  "Shop the Outlet Flash Sale",
		  "Shop the Outlet Flash Sale",
		  'https://lechateau.scene7.com/is/content/LeChateau/landing/shops/Sale/lp-flash-191126-en-d_01.gif',
		  'https://lechateau.scene7.com/is/content/LeChateau/landing/shops/Sale/lp-flash-191126-en-m_01.gif',
      false)
  |
  |
|
|
// END
|
|
|
|
//- END - ROW
//-END--------------------


.row.row1
  // ctas
  .ctas.LP-DESKTOP
    +cta('SHOP Dress', 
		 'https://www.lechateau.com/style/jump/Robes/category/cat37310731', 
		 "Shop the Outlet Flash Sale")(class="btn-lc regular margin-00", style="left:25%; top: 28%;")
    +cta('SHOP Shoes', 
		 'https://www.lechateau.com/style/jump/Pumps/category/cat38210822', 
		 "Shop the Outlet Flash Sale")(class="btn-lc regular margin-00", style="left: 57%; top: 28%;")     
  |
  |
  // image
  +bckImg('https://www.lechateau.com/style/jump/Pumps/category/cat38210822', 
		  "Shop the Outlet Flash Sale",
		  "Shop the Outlet Flash Sale",
		  'lp-flash-191125-en-d_02',
		  'lp-flash-191125-en-m_02',
      false)
  |
  |
|
|
// END
|
|
|
|
//- END - ROW
//-END--------------------


//-START ----------------------
// ROW
.row.margin-0
  // ctas
  .ctas.LP-DESKTOP
    +cta('SHOP LBDS', 
		 'https://www.lechateau.com/style/jump/Little+Black+Dresses/category/cat44980708', 
		 "Shop the Outlet Flash Sale")(class="btn-lc regular margin-00", style="left:57%; top: 71%;")   
  |
  |
  // image
  +bckImg('https://www.lechateau.com/style/jump/Little+Black+Dresses/category/cat44980708', 
		  "Shop the Outlet Flash Sale",
		  "Shop the Outlet Flash Sale",
		  'lp-flash-191126-en-d_03',
		  'lp-flash-191126-en-m_04',
      false)
  |
  |
|
|
// END
|
//- END - ROW
//-END--------------------


//-START ----------------------
// ROW
.row
  // ctas
  .ctas.LP-DESKTOP
    +cta('SHOP COCKTAIL DRESS', 
		 'https://www.lechateau.com/style/jump/Cocktail+%26+Party/category/cat37440707', 
		 "Shop the Outlet Flash Sale")(class="btn-lc regular margin-00", style="left:13%; top: 77%;")   
  |
  |
  // image
  +bckImg('https://www.lechateau.com/style/jump/Cocktail+%26+Party/category/cat37440707', 
		  "Shop the Outlet Flash Sale",
		  "Shop the Outlet Flash Sale",
		  'lp-flash-191126-en-d_05',
		  'lp-flash-191126-en-m_06',
      false)
  |
  |
|
|
// END
|
//- END - ROW
//-END--------------------

//-START ----------------------
// ROW
.row
  // ctas
  .ctas.LP-DESKTOP
    +cta('SHOP NIGHT OUT', 
		 'https://www.lechateau.com/style/jump/Night+Out/category/cat44980706', 
		 "Shop the Outlet Flash Sale")(class="btn-lc regular margin-00", style="left:57%; top: 67%;")   
  |
  |
  // image
  +bckImg('https://www.lechateau.com/style/jump/Night+Out/category/cat44980706', 
		  "Shop the Outlet Flash Sale",
		  "Shop the Outlet Flash Sale",
		  'lp-flash-191126-en-d_07',
		  'lp-flash-191126-en-m_08')
  |
  |
|
|
// END
|
//- END - ROW
//-END--------------------


//-START ----------------------
// ROW
.row
  // ctas
  .ctas.LP-DESKTOP
    +cta('SHOP PUMPS', 
		 'https://www.lechateau.com/style/jump/Pumps/category/cat38210822', 
		 "Shop the Outlet Flash Sale")(class="gothamMed underlineCTA white margin-00", style="right:11%; top: 22%; color: white;")
    +cta('SHOP SANDALS', 
		 'https://www.lechateau.com/style/jump/Sandals/category/cat39970707',
		 "Shop the Outlet Flash Sale")(class="gothamMed underlineCTA white margin-00", style="right:11%; top: 46%; color: white;") 
    +cta('SHOP BAGS', 
		 'https://www.lechateau.com/style/jump/Handbags/category/cat38150811', 
		 "Shop the Outlet Flash Sale")(class="gothamMed underlineCTA white margin-00", style="right:11%; top: 72%; color: white;") 
    +cta('SHOP NIGHT OUT', 
		 'https://www.lechateau.com/style/jump/Night+Out/category/cat46930703', 
		 "Shop the Outlet Flash Sale")(class="gothamMed underlineCTA white margin-00", style="right:11%; top: 82%; color: white;")               
  |
  |
  // image
  +bckImg('https://www.lechateau.com/style/jump/Pumps/category/cat38210822', 
		  "Shop the Outlet Flash Sale",
		  "Shop the Outlet Flash Sale",
		  'lp-flash-191126-en-d_09',
		  'lp-flash-191126-en-m_10')
  |
  |
  .image-map.LP-DESKTOP
     +map('https://www.lechateau.com/style/jump/Pumps/category/cat38210822', "Shop the Outlet Flash Sale")(style="height:100%; top:0; left:0; position:absolute; width:65%;")
     +map('https://www.lechateau.com/style/jump/Pumps/category/cat38210822', "Shop the Outlet Flash Sale")(style="height:25%; top:0; left:65%; position:absolute; width:35%;")
     +map('https://www.lechateau.com/style/jump/Sandals/category/cat39970707', "Shop the Outlet Flash Sale")(style="height:25%; top:25%; left:65%; position:absolute; width:35%;")
     +map('https://www.lechateau.com/style/jump/Handbags/category/cat38150811', "Shop the Outlet Flash Sale")(style="height:25%; top:50%; left:65%; position:absolute; width:35%;")
     +map('https://www.lechateau.com/style/jump/Night+Out/category/cat46930703', "Shop the Outlet Flash Sale")(style="height:25%; top:75%; left:65%; position:absolute; width:35%;")  
|
|
// END
|
//- END - ROW
//-END--------------------

// ROW
.row.LP-DEVICE.margin-00
  // ctas
  // image
  +bckImg('https://www.lechateau.com/style/jump/Sandals/category/cat39970707', 
		  "Shop the Outlet Flash Sale",
		  "Shop the Outlet Flash Sale",
		  'lp-flash-191126-en-m_11',
		  'lp-flash-191126-en-m_11')
  |
  |
|
|
// END
|
|

// ROW
.row.LP-DEVICE.margin-00
  // ctas
  // image
  +bckImg('https://www.lechateau.com/style/jump/Handbags/category/cat38150811', 
		  "Shop the Outlet Flash Sale",
		  "Shop the Outlet Flash Sale",
		  'lp-flash-191126-en-m_12',
		  'lp-flash-191126-en-m_12')
  |
  |
|
|
// END
|
|

// ROW
.row.LP-DEVICE.margin-00
  // ctas
  // image
  +bckImg('https://www.lechateau.com/style/jump/Night+Out/category/cat46930703', 
		  "Shop the Outlet Flash Sale",
		  "Shop the Outlet Flash Sale",
		  'lp-flash-191126-en-m_13',
		  'lp-flash-191126-en-m_13')
  |
  |
|
|
// END
|
|

//-START ----------------------
// ROW
.row
  // ctas
  .ctas.LP-DESKTOP
    +cta('SHOP EVENING GOWNS', 
		 'https://www.lechateau.com/style/jump/Evening+%26+Formal/category/cat44980705', 
		 "Shop the Outlet Flash Sale")(class="btn-lc regular margin-00", style="left:60%; top: 70%;")           
  |
  |
  // image
  +bckImg('https://www.lechateau.com/style/jump/Evening+%26+Formal/category/cat44980705', 
		  "Shop the Outlet Flash Sale",
		  "Shop the Outlet Flash Sale",
		  'lp-flash-191126-en-d_11',
		  'lp-flash-191126-en-m_15')
  |
  |
|
|
// END
|
//- END - ROW
//-END--------------------



//-START ----------------------
// ROW
.row.margin-0
  // ctas
  .ctas.LP-DESKTOP
    +cta('SHOP MINIS', 
		 'https://www.lechateau.com/style/jump/Mini/category/cat46700702', 
		 "Shop the Outlet Flash Sale")(class="btn-lc regular margin-00", style="left:18%; top: 84%;")   
  |
  |
  // image
  +bckImg('https://www.lechateau.com/style/jump/Mini/category/cat46700702', 
		  "Shop the Outlet Flash Sale",
		  "Shop the Outlet Flash Sale",
		  'lp-flash-191126-en-d_12',
		  'lp-flash-191126-en-m_17')
  |
  |
|
|
// END
|
//- END - ROW
//-END--------------------



//-START ----------------------
// ROW
.row
  // ctas
  .ctas.LP-DESKTOP
    +cta('SHOP COVER UPS', 
		 'https://www.lechateau.com/style/jump/Dressy+Cover+Ups/category/cat44920703', 
		 "Shop the Outlet Flash Sale")(class="btn-lc regular margin-00", style="left:66%; bottom: 0%;")
    +cta('2 FOR 15$', 
		 'https://www.lechateau.com/style/jump/Accessories%3A+2+for+%2415/category/cat46670724', 
		 "Shop the Outlet Flash Sale")(class="btn-lc regular margin-00", style="left:20%; bottom: 0%;")           
  |
  |
  // image
  +bckImg('https://www.lechateau.com/style/jump/Dressy+Cover+Ups/category/cat44920703', 
		  "Shop the Outlet Flash Sale",
		  "Shop the Outlet Flash Sale",
		  'lp-flash-191126-en-d_14',
		  'lp-flash-191126-en-m_19')
  |
  |
|
|
// END
|
//- END - ROW
//-END--------------------



//-START ----------------------
// ROW
.row.margin-00
  // ctas
  .ctas.LP-DESKTOP
    +cta('3 FOR 10$', 
		 'https://www.lechateau.com/style/jump/Accessories%3A+3+for+%2410+/category/cat46730705', 
		 "Shop the Outlet Flash Sale")(class="btn-lc regular margin-00", style="left:20%; bottom: 0%;")          
  |
  |
  // image
  +bckImg('https://www.lechateau.com/style/jump/Accessories%3A+2+for+%2415/category/cat46670724', 
		  "Shop the Outlet Flash Sale",
		  "Shop the Outlet Flash Sale",
		  'lp-flash-191125-en-d_15',
		  'lp-flash-191126-en-m_20')
  |
  |
|
|
// END
|
//- END - ROW
//-END--------------------


// ROW
.row.LP-DEVICE.margin-00
  // ctas
  // image
  +bckImg('https://www.lechateau.com/style/jump/Night+Out/category/cat46930703', 
		  "Shop the Outlet Flash Sale",
		  "Shop the Outlet Flash Sale",
		  'lp-flash-191126-en-m_21',
		  'lp-flash-191126-en-m_21')
  |
  |
|
|
// END
|
|

+legal("*Select styles.")