|
|
|
// SEO
.grid-seo.margin-20.stay
  div(style='max-width: 1300px;margin:0 auto;')
    h1 WEDDING BOUTIQUE
    div
      span
        | Discover LE CH&Acirc;TEAU's Wedding Boutique and shop our collection of beautiful  
        a(href='https://www.lechateau.com/style/jump/Bride/category/cat38761590', title='Shop Bridal Dresses')
          h2 wedding dresses
        |  for every bride's special day. Explore a variety of styles and silhouettes for your 
        a(href='https://www.lechateau.com/style/jump/Bridal+Party/category/cat44420702', title='Shop Bridal Party Dresses')
          h2 bridal party
        |  and 
        a(title='Shop Mother of the Bride Dresses', href='https://www.lechateau.com/style/jump/Mother+of+the+Bride/category/cat38761594')
          h2 mother of the bride
        |  dresses your mom will love! RSVP yes and dress up in LE CH&Acirc;TEAU gowns and 
        a(href='https://www.lechateau.com/style/jump/Special+Occasion/category/cat44420704', title='Shop Cocktail & Party Dresses')
          h2 cocktail
        |  attire for all your events. LE CH&Acirc;TEAU has 
        a(href='https://www.lechateau.com/style/jump/Prom+Dresses/category/cat39920702', title='Shop Prom Dresses')
          h2 prom dresses
        |  for any style and 
        a(href='https://www.lechateau.com/style/jump/Jumpsuits/category/cat46100756', title='Shop Dressy Jumpsuits')
          h2 jumpsuits
        |  that promise a perfectly pulled-together look.
    .more-content.hide
      br
      span
        | LE CH&Acirc;TEAU's Wedding Boutique carries every 
        a(href='https://www.lechateau.com/style/jump/All+Accessories/category/cat38761596', title='Shop Wedding Accessories')
          h2 accessory
        |  you need to finish your look. 
        a(href='https://www.lechateau.com/style/jump/All+Shoes/category/cat38761597', title='Shop Wedding Shoes')
          h2 Shoes
        |  that dazzle with 
        a(href='https://www.lechateau.com/style/jump/Clutches/category/cat38761602', title='Shop Clutches')
          h2 clutches
        |  and bags to match. Get your glam on with sparkling 
        a(href='Shop Jewellery')
          h2 jewellery
        |  and 
        a(href='https://www.lechateau.com/style/jump/Hair+Accessories/category/cat38761598', title='Shop Headpieces')
          h2 hair accessories
        | . Need a 
        a(href='https://www.lechateau.com/style/jump/Cover+Ups/category/cat38761600', title='Shop Cover Ups')
          h2 cover up
        |  or wrap for your outfit? LE CH&Acirc;TEAU has you covered. Make an  
        a(title='Book Your Wedding Styling Appointment', href='https://www.lechateau.com/style/editorial.jsp?content=ws')
          h2 appointment
        |  to visit LE CH&Acirc;TEAU's Wedding Boutique now.
    p.containhidden
      br
      span#show.show Read more
