.grid-seo.margin-20.stay
  div(style='max-width: 1300px;margin:0 auto;')
    h1 Boutique de mariage
    div
      span
        | D&eacute;couvrez la Boutique mariage de LE CH&Acirc;TEAU et explorez notre collection de magnifiques 
        a(href='https://www.lechateau.com/style/jump/Bride/category/cat38761590', title='Magasinez les robes de mariage')
          h2 robes de mariage
        |  pour le grand jour de toute mari&eacute;e. D&eacute;couvrez une vari&eacute;t&eacute; de styles et de silhouettes pour votre 
        a(href='https://www.lechateau.com/style/jump/Bridal+Party/category/cat44420702', title='Magasinez les robes pour le cort&egrave;ge')
          h2 cort&egrave;ge
        |  et des robes pour 
        a(title='Magasinez les robes de la m&egrave;re de la mari&eacute;e', href='https://www.lechateau.com/style/jump/Mother+of+the+Bride/category/cat38761594')
          h2 m&egrave;re de la mari&eacute;e
        |  que votre maman va adorer! Dites oui &agrave; vos RSVP et habillez-vous avec style dans des robes longues et 
        a(href='https://www.lechateau.com/style/jump/Special+Occasion/category/cat44420704', title='Magasinez les robes cocktail')
          h2 cocktail
        |  LE CH&Acirc;TEAU pour tous vos &eacute;v&eacute;nements. LE CH&Acirc;TEAU offre des  
        a(href='https://www.lechateau.com/style/jump/Prom+Dresses/category/cat39920702', title='Magasinez les robes de bal')
          h2 robes de bal
        |  pour tous les styles et des  
        a(href='https://www.lechateau.com/style/jump/Jumpsuits/category/cat46100756', title='Magasinez les combi-pantalons')
          h2 combi-pantalons
        |  qui vous assurent un look parfait.
    .more-content.hide
      br
      span
        | La Boutique mariage de LE CH&Acirc;TEAU propose tous les 
        a(href='https://www.lechateau.com/style/jump/All+Accessories/category/cat38761596', title='Magasinez les accessoires')
          h2 accessoires
        |  dont vous avez besoin pour mettre la derni&egrave;re touche &agrave; votre look. En plus de 
        a(href='https://www.lechateau.com/style/jump/All+Shoes/category/cat38761597', title='Magasinez les chaussures')
          h2 chaussures
        |  qui brillent de style et de 
        a(href='https://www.lechateau.com/style/jump/Clutches/category/cat38761602', title='Magasinez les pochettes')
          h2 pochettes
        |  et sacs &agrave; main assortis. Passez en mode glamour avec des 
        a(href='Magasinez les bijoux')
          h2 bijoux
        |  et 
        a(href='https://www.lechateau.com/style/jump/Hair+Accessories/category/cat38761598', title='Magasinez les accessoires &agrave; cheveux')
          h2 accessoires &agrave; cheveux
        |  scintillants. Besoin d'une veste ou d'un 
        a(href='https://www.lechateau.com/style/jump/Cover+Ups/category/cat38761600', title='Magasinez les ch&acirc;le')
          h2 ch&acirc;le
        |  LE CH&Acirc;TEAU a ce qu'il vous fait. Prenez  
        a(title='Fixez votre rendez-vous pour votre s&eacute;ance de stylisme mariage', href='https://www.lechateau.com/style/editorial.jsp?content=ws')
          h2 rendez-vous
        |  d&egrave;s aujourd'hui pour visiter la Boutique mariage LE CH&Acirc;TEAU.
    p.containhidden
      br
      span#show.show Voir plus
