  script.
    $(document).ready(function(e) {
    $('#sliderSale').slick({
    autoplay: true,
    autoplaySpeed: 4500,
    dots: true,
    arrows: true,
    infinite: true,
    appendArrows: '#arrowsTwo > div',
    appendDots: '#dotsTwo',
    lazyLoad: 'ondemand',
    speed: 400,
    slidesToShow: 1,
    slidesToScroll: 1,
    centerMode: true,
    variableWidth: true,
    draggable: true,
    swipeToSlide: true,
    touchMove: true,
    prevArrow: '<button type="button" class="slick-prev"></button>',
    nextArrow: '<button type="button" class="slick-next"></button>',
    adaptiveHeight: true,
    responsive: [{
    breakpoint: 1300,
    settings: {
    variableWidth: true,
    centerMode: true,
    adaptiveHeight: true,
    slidesToShow: 2,
    }
    },
    {
    breakpoint: 591,
    settings: {
    variableWidth: false,
    centerMode: false,
    slidesToShow: 1,
    }
    }
    ]
    });
    });