.grid-seo.margin-20.stay
  div(style='max-width: 815px;margin:0 auto;')
    h1 SALE
    div
      span
        | Keep an eye out for the LE CH&Acirc;TEAU's 					
        a(href='https://www.lechateau.com/style/jump/SALE/category/cat260028', title='')
          h2 SALE
        |  section plus weekly/monthly events that encapsulate all sale information on  					
        a(href='https://www.lechateau.com/style/jump/All+Women/category/cat46020717', title="Shop Women's Clothing on Sale")
          h2 WOMEN
        | , 
        a(href='https://www.lechateau.com/style/jump/All+Men/category/cat46020732', title="Shop Men's Clothing on Sale")
          h2 MEN
        | , 
        a(href='https://www.lechateau.com/style/jump/All+Shoes/category/cat260038', title='Shop Shoes on Sale')
          h2 SHOE
        |  and 
        a(href='https://www.lechateau.com/style/jump/Women%27s+Accessories/category/cat38981740', title='Shop Accessories on Sale')
          h2 ACCESSORY SALES
        |  Limited Time Deals, 
        a(href='https://www.lechateau.com/style/jump/OUTLET/category/cat37310715', title='Shop The Outlet Store')
          h2 OUTLET
        |  and 
        a(href='https://www.lechateau.com/style/jump/CLEARANCE/category/cat45930750', title='Shop Clearance')
          h2 CLEARANCE
        |  Sales.
    .more-content.hide
      br
      span
        | Stay in the sale loop by subscribing to our mailing list and by heading to our LE CH&Acirc;TEAU 
        a(href='https://www.lechateau.com/style/', title='Shop LE CH&Acirc;TEAU')
          h2 website
        |  daily! Save money and stay stylish with SALE items on everything 
        a(href='https://www.lechateau.com/style/company/storeLocator.jsp', title='Store Locator')
          h2 in-store
        |  and online! Sign-up to create 
        a(href='https://www.lechateau.com/style/myaccount/signIn.jsp', title='Create an Account')
          h2 a personalized account
        |  for online purchases to check out faster and track your orders.
    p.containhidden
      br
      span#show.show Read more