.grid-seo.margin-20.stay
  div(style='max-width: 815px;margin:0 auto;')
    h1 SOLDE
    div
      span
        | Surveillez la section 
        a(href='https://www.lechateau.com/style/jump/SALE/category/cat260028', title='')
          h2 SOLDE
        |  de LE CH&Acirc;TEAU, de m&ecirc;me que les &eacute;v&eacute;nements mensuels/hebdomadaires qui regroupent toutes les informations sur les soldes de 
        a(href='https://www.lechateau.com/style/jump/All+Women/category/cat46020717', title=' pour femmes')
          h2 V&Ecirc;TEMENTS POUR FEMMES
        | , 
        a(href='https://www.lechateau.com/style/jump/All+Men/category/cat46020732', title=' pour hommes')
          h2 V&Ecirc;TEMENTS POUR HOMMES
        | , 
        a(href='https://www.lechateau.com/style/jump/All+Shoes/category/cat260038', title='Magasinez les chaussures en solde')
          h2 CHAUSSURES
        |  et 
        a(href='https://www.lechateau.com/style/jump/Women%27s+Accessories/category/cat38981740', title='Magasinez les accessoires en solde')
          h2 ACCESSOIRES
        | , ainsi que sur les aubaines d'une dur&eacute;e limit&eacute;e et les soldes 
        a(href='https://www.lechateau.com/style/jump/OUTLET/category/cat37310715', title=" de l'entrep&ocirc;t")
          h2 d'ENTREP&Ocirc;T
        |  et de 
        a(href='https://www.lechateau.com/style/jump/CLEARANCE/category/cat45930750', title=' de liquidation')
          h2 LIQUIDATION
        | .
    .more-content.hide
      br
      span
        | &Eacute;conomisez sans faire de compromis c&ocirc;t&eacute; style en magasinant les SOLDES sur presque tout 
        a(href='https://www.lechateau.com/style/', title='Magasinez LE CH&Acirc;TEAU')
          h2 site web
        |  LE CH&Acirc;TEAU chaque jour!  &Eacute;conomisez sans faire de compromis c&ocirc;t&eacute; style en magasinant les SOLDES sur presque tout 
        a(href='https://www.lechateau.com/style/company/storeLocator.jsp', title='Localisateur de magasins')
          h2 en magasin
        |  et en ligne!  Inscrivez-vous pour cr&eacute;er un 
        a(href='https://www.lechateau.com/style/myaccount/signIn.jsp', title='Cr&eacute;er un compte')
          h2 compte personnalis&eacute;
        |  pour vos achats en ligne, afin d'acc&eacute;l&eacute;rer le processus de paiement et de pouvoir faire le suivi de vos commandes.
    p.containhidden
      br
      span#show.show Voir plus