.grid-seo.margin-20.stay
  div(style='max-width: 1300px;margin:0 auto;')
    h1 WOMEN'S WORK CLOTHING
    div
      span
        | This season, refresh your fall workwear wardrobe with LE CH&Acirc;TEAU's newest collection of refined pieces. Shop for 
        a(href='https://www.lechateau.com/style/jump/All+Work+Styles/category/cat46860702', title="Shop Women's Suits")
          h2 women's suits
        | , 
        a(href='https://www.lechateau.com/style/jump/Business+Casual/category/cat46850703', title="Shop Women's Buisness Casual Suits")
          h2 business casual
        | , 
        a(href='https://www.lechateau.com/style/jump/Business+Suits/category/cat46080736', title="Shop Women's Professional & Office Suits")
          h2 professional & office
        | , 
        a(href='https://www.lechateau.com/style/jump/Work+Shoes/category/cat41800704', title="Shop Women's Work Shoes")
          h2 shoes
        |  & 
        a(href='https://www.lechateau.com/style/jump/Work+Accessories/category/cat38871259', title="Shop Women's Work Accessories")
          h2 accessories
        | . We've got you covered from head to toe with impeccably tailored 
        a(href='https://www.lechateau.com/style/jump/Work+Blazers/category/catwfr10131', title="Shop Women's Work Blazers")
          h2 blazers
        | , 
        a(href='https://www.lechateau.com/style/jump/Work+Tops/category/cat38871257', title="Shop Women's Work Tops")
          h2 tops
        | , 
        a(href='https://www.lechateau.com/style/jump/Work+Pants+/category/catwfr10231', title="Shop Women's Work Trousers")
          h2 trousers
        |  and more.
    .more-content.hide
      br
      span
        | Our effortless 
        a(href='https://www.lechateau.com/style/jump/Work+Dresses+%26+Jumpsuits/category/catwfr10631', title="Shop Women's Work Dresses & Jumpsuits")
          h2 dresses & jumpsuits
        |  take the work out of dressing for the office and after hours. Designed for your every style and mood, we offer 
        a(href='https://www.lechateau.com/style/jump/Work+Tops/category/cat38871257', title="Shop Women's Work Tops")
          h2 blouses
        | , 
        a(href='https://www.lechateau.com/style/jump/Work+Sweaters+%26+Cardigans/category/cat43380702', title="Shop Women's Work Sweaters & Cardigans")
          h2 sweaters and cardigans
        |  in different shapes and colours, as well as 
        a(href='https://www.lechateau.com/style/jump/Work+Pants+/category/catwfr10231', title="Shop Women's Work Pants")
          h2 pants
        |  in a variety of silhouettes (
        a(href='https://www.lechateau.com/style/jump/Straight+Leg/category/cat39021500', title="Shop Women's Work Straight Leg Pants")
          h2 straight leg
        | , 
        a(href='https://www.lechateau.com/style/jump/Flare+Leg/category/cat39021502', title="Shop Women's Work Flare Leg Pants")
          h2 flare leg
        | , 
        a(href='https://www.lechateau.com/style/jump/Slight+Flare+Leg/category/cat46080733', title="Shop Women's Work Slightly Flare Leg Pants")
          h2 slightly flare leg
        | , 
        a(href='https://www.lechateau.com/style/jump/Wide+Leg/category/cat45270702', title="Shop Women's Work Wide Leg Pants")
          h2 wide leg
        | ). Women's work collection available up to size 3X and 22W.
    p.containhidden
      br
      span#show.show Read more