.grid-seo.margin-20.stay
  div(style='max-width: 1300px;margin:0 auto;')
    h1 V&Ecirc;TEMENTS POUR FEMMES POUR LE BUREAU
    div
      span
        | Cet automne, rafra&icirc;chissez votre garde-robe de bureau avec la plus r&eacute;cente collection d'articles raffin&eacute;s de LE CH&Acirc;TEAU. Magasinez les 
        a(href='https://www.lechateau.com/style/jump/All+Work+Styles/category/cat46860702', title='Magasinez les tailleurs pour femmes')
          h2 tailleurs
        | , 
        a(href='https://www.lechateau.com/style/jump/Business+Casual/category/cat46850703', title="Magasinez les tailleurs d'affaires d&eacute;contract&eacute;es pour femmes")
          h2 tenues d'affaires d&eacute;contract&eacute;es
        | , 
        a(href='https://www.lechateau.com/style/jump/Business+Suits/category/cat46080736', title='Magasinez les tailleurs professionelles pour femmes')
          h2 tenues de bureau professionnelles
        | , 
        a(href='https://www.lechateau.com/style/jump/Work+Shoes/category/cat41800704', title='Magasinez les chaussures pour le bureau pour femmes')
          h2 chaussures
        |  et 
        a(href='https://www.lechateau.com/style/jump/Work+Accessories/category/cat38871259', title='Magasinez les accessoires pour le bureau pour femmes')
          h2 accessoires
        |  pour femmes. Nous avons tout ce qu'il vous faut pour cr&eacute;er des looks complets avec des 
        a(href='https://www.lechateau.com/style/jump/Work+Blazers/category/catwfr10131', title='Magasinez les vestes pour le bureau pour femmes')
          h2 vestes
        |  de bonne coupe, des 
        a(href='https://www.lechateau.com/style/jump/Work+Tops/category/cat38871257', title='Magasinez les hauts pour le bureau pour femmes')
          h2 hauts
        | , des 
        a(href='https://www.lechateau.com/style/jump/Work+Pants+/category/catwfr10231', title='Magasinez les pantalons pour le bureau pour femmes')
          h2 pantalons
        |  et plus encore.
    .more-content.hide
      br
      span
        | Nos 
        a(href='https://www.lechateau.com/style/jump/Work+Dresses+%26+Jumpsuits/category/catwfr10631', title='Magasinez les robes et combinaisons pour le bureau pour femmes')
          h2 robes et combi-pantalons
        |  vous permettent de vous habiller en un clin d'oeil pour le bureau et ce qui suit. Con&ccedil;us pour tous les styles et toutes les humeurs, nos 
        a(href='https://www.lechateau.com/style/jump/Work+Tops/category/cat38871257', title='Magasinez les hauts pour le bureau pour femmes')
          h2 blouses
        | , 
        a(href='https://www.lechateau.com/style/jump/Work+Sweaters+%26+Cardigans/category/cat43380702', title='Magasinez les chandails et cardigans pour le bureau pour femmes')
          h2 chandails et cardigans
        |  sont offerts en diff&eacute;rentes silhouettes et couleurs, et nos 
        a(href='https://www.lechateau.com/style/jump/Work+Pants+/category/catwfr10231', title='Magasinez les pantalons pour le bureau pour femmes')
          h2 pantalons
        |  en une vari&eacute;t&eacute; de coupes (
        a(href='https://www.lechateau.com/style/jump/Straight+Leg/category/cat39021500', title='Magasinez les pantalons &agrave; jambe droite pour le bureau pour femmes')
          h2 jambe droite
        | , 
        a(href='https://www.lechateau.com/style/jump/Flare+Leg/category/cat39021502', title='Magasinez les pantalons &agrave; jambe &eacute;vas&eacute;e pour le bureau pour femmes')
          h2 jambe &eacute;vas&eacute;e
        | , 
        a(href='https://www.lechateau.com/style/jump/Slight+Flare+Leg/category/cat46080733', title='Magasinez les pantalons &agrave; jambe l&eacute;g&egrave;rement &eacute;vas&eacute;e pour le bureau pour femmes')
          h2 jambe l&eacute;g&egrave;rement &eacute;vas&eacute;e
        | , 
        a(href='https://www.lechateau.com/style/jump/Wide+Leg/category/cat45270702', title='Magasinez les pantalons &agrave; jambe large pour le bureau pour femmes')
          h2 jambe large
        | ).La collection de v&ecirc;tements pour femmes pour le bureau est offerte dans des tailles allant jusqu'&agrave; 3X et 22W.
    p.containhidden
      br
      span#show.show Voir plus