// DRAGBALLs
.row1.LP-DEVICE(id="mob-silder-wrap", style="position:relative;")
  .mob-slider.dragscroll
    +dragball('https://www.lechateau.com/style/jump/All+Women/category/cat46020717', 'sale-stopslider-191123-fr-m_01', 'Women')
    +dragball('https://www.lechateau.com/style/jump/All+Shoes/category/cat260038', 'sale-stopslider-191123-fr-m_02', 'Shoes')
    +dragball('https://www.lechateau.com/style/jump/All+Men/category/cat46020732', 'sale-stopslider-191123-fr-m_03', 'Men')
    +dragball('https://www.lechateau.com/style/jump/50%25+Off+Handbags/category/cat46050816', 'sale-stopslider-191123-fr-m_04', 'Handbags')
    +dragball('https://www.lechateau.com/style/jump/Dresses+%26+Jumpsuits/category/cat260081', 'sale-stopslider-191123-fr-m_05', 'Dresses')
    +dragball('https://www.lechateau.com/style/jump/Tops+%26+Sweaters/category/cat260089', 'sale-stopslider-191123-fr-m_06', "Women's Sweaters")
    +dragball('https://www.lechateau.com/style/jump/Tops+%26+Sweaters/category/cat270024', 'sale-stopslider-191123-fr-m_07', "Men's Sweaters")
    +dragball('https://www.lechateau.com/style/jump/Jackets+%26+Coats/category/cat45920711', 'sale-stopslider-191123-fr-m_08', "Women's Jackets")
    +dragball('https://www.lechateau.com/style/browse/subcategoryBanner.jsp?categoryId=cat44950709', 'sale-stopslider-191123-fr-m_09', "Men's Jackets")