// DRAGBALLs
.row1.LP-DEVICE(id="mob-silder-wrap", style="position:relative;")
  .mob-slider.dragscroll
    +dragball('https://www.lechateau.com/style/jump/All+Women/category/cat41960717', 'stopslider-c-1900904-fr-m_01', 'Women')
    +dragball('https://www.lechateau.com/style/jump/All+Shoes/category/cat41520720', 'stopslider-c-1900904-fr-m_02', 'Shoes')
    +dragball('https://www.lechateau.com/style/jump/All+Men/category/cat41990713', 'stopslider-c-1900904-fr-m_03', 'Men')
    +dragball('https://www.lechateau.com/style/jump/Women%27s+Accessories/category/cat45940702', 'stopslider-c-1900904-fr-m_04', 'Accessories')
    +dragball('https://www.lechateau.com/style/jump/Dresses/category/cat45940732', 'stopslider-c-1900904-fr-m_05', 'Dresses')
    +dragball('https://www.lechateau.com/style/jump/Sweaters+%26+Cardigans/category/cat46540702', 'stopslider-c-1900904-fr-m_07', "Women's Sweaters")
    +dragball('https://www.lechateau.com/style/jump/Tops+%26+Sweaters/category/cat45940725', 'stopslider-c-1900904-fr-m_06', "Men's Sweaters")
    +dragball('https://www.lechateau.com/style/jump/Blazers+%26+Vests/category/cat45940735', 'stopslider-c-1900904-fr-m_09', "Women's Blazers")
    +dragball('https://www.lechateau.com/style/jump/Blazers+%26+Pants/category/cat45940723', 'stopslider-c-1900904-fr-m_08', "Men's Blazers")