// DRAGBALLs
.row1.LP-DEVICE(id="mob-silder-wrap", style="position:relative;")
  .mob-slider.dragscroll
    +dragball('https://www.lechateau.com/style/jump/All+Women/category/cat46020766', 'outlet-stopslider-191119-en-m_01', 'Women')
    +dragball('https://www.lechateau.com/style/jump/All+Shoes/category/cat39023995', 'outlet-stopslider-191119-en-m_02', 'Shoes')
    +dragball('https://www.lechateau.com/style/jump/All+Men/category/cat46020764', 'outlet-stopslider-191119-en-m_03', 'Men')
    +dragball('https://www.lechateau.com/style/jump/Sacs/category/cat38150811', 'outlet-stopslider-191119-en-m_04', 'Accessories')
    +dragball('https://www.lechateau.com/style/jump/Dresses/category/cat37310731', 'outlet-stopslider-191119-en-m_05', 'Dresses')
    +dragball('https://www.lechateau.com/style/jump/Blazers+%26+Vests/category/cat37310737', 'outlet-stopslider-191119-en-m_06', "Women's Blazers")
    +dragball('https://www.lechateau.com/style/jump/Blazers+%26+Vests/category/cat37310755', 'outlet-stopslider-191119-en-m_07', "Men's Blazers")
    +dragball('https://www.lechateau.com/style/jump/Sweaters+%26+Cardigans/category/cat37310729', 'outlet-stopslider-191119-en-m_08', "Women's Sweaters")
    +dragball('https://www.lechateau.com/style/jump/Sweaters+%26+Cardigans/category/cat37310751', 'outlet-stopslider-191119-en-m_09', "Men's Sweaters")