.grid-seo.margin-20.stay
  div(style='max-width: 1300px;margin:0 auto;')
    h1 Men's
    div
      span
        | Step up your style game this season with LE CH&Acirc;TEAU's 
        a(href='https://www.lechateau.com/style/jump/New+Arrivals/category/catmfr20021', title="Shop Men's New Arrivals")
          h2 newest arrivals
        |  for Men. Elevate your office, weekend or party attire with a tailored 
        a(href='https://www.lechateau.com/style/browse/subcategoryBanner.jsp?categoryId=catmfr20029', title="Shop Men's Blazers & Vests")
          h2 blazer or vest
        |  in a sharp windowpane or tonal print in structured wool or linen. Find your perfect dress or casual 
        a(href='https://www.lechateau.com/style/jump/Shirts/category/cat38991707', title="Shop Men's Shirts")
          h2 shirts
        |  in our selection of tailored, slim, athletic and secondary fits. Coordinate your outfit with a relaxed pair of 
        a(href='https://www.lechateau.com/style/jump/Pants/category/catmfr20028', title="Shop Men's Pants")
          h2 pants
        | .
    .more-content.hide
      br
      span
        | Pullover 
        a(href='https://www.lechateau.com/style/jump/Sweaters+%26+Cardigans/category/catmfr20027', title="Shop Men's Sweaters & Cardigans")
          h2 sweaters
        |  and 
        a(href='https://www.lechateau.com/style/jump/Sweaters+%26+Cardigans/category/catmfr20027', title="Shop Men's Sweaters & Cardigans")
          h2 button-front cardigans
        |  are the ultimate in layering pieces, while lightweight 
        a(href='https://www.lechateau.com/style/jump/Jackets+%26+Coats/category/catmfr20030', title="Shop Men's Jackets & Coats")
          h2 jackets and coats
        |  will work for those chillier nights. For those casual style moments, keep it fresh with 
        a(href='https://www.lechateau.com/style/jump/Knits+%26+Tees/category/catmfr20026', title="Shop Men's Knits & Tees")
          h2 knits and tees
        |  in cool graphic prints. Complete your look with a pair of sleek leather or suede 
        a(href='https://www.lechateau.com/style/jump/Shoes/category/cat38030790', title="Shop Men's Shoes")
          h2 shoes
        | .
      br
      br
      h2.title Men's Accessories
      div
        span
          | Tie your fall style all together with LE CH&Acirc;TEAU's sleekest accessories for men. Look and feel dapper in our selection of 
          a(href='https://www.lechateau.com/style/jump/Ties+%26+Bow+Ties/category/cat43810703', title="Shop Men's Ties & Bow Ties")
            h3 ties and bow ties
          |  in cool cotton and sophisticated silk. Take on your next event in style with a 
          a(href='https://www.lechateau.com/style/jump/Pocket+Squares+/category/cat37680828', title="Shop Men's Pocket Square")
            h3 pocket square
          |  with the perfect punch of pattern and colour. Love a coordinated set? We have you covered with our 
          a(href='https://www.lechateau.com/style/jump/Box+Sets/category/cat37680829', title="Shop Men's Box Sets")
            h3 box sets
          | .
      br
      div
        span
          | Getting dressed is made easier with a reversible  
          a(href='https://www.lechateau.com/style/jump/Belts%2C+Suspenders+%26+Wallets/category/cat37680832', title="Shop Men's Belts")
            h3 belt
          | , smart 
          a(href='https://www.lechateau.com/style/jump/Belts%2C+Suspenders+%26+Wallets/category/cat37680832', title="Shop Men's Suspenders")
            h3 suspenders
          | , and a compact leather 
          a(href='https://www.lechateau.com/style/jump/Belts%2C+Suspenders+%26+Wallets/category/cat37680832', title="Shop Men's Wallets")
            h3 wallet
          | . Add the final touch to your special occasion suit with a sleek 
          a(href='https://www.lechateau.com/style/jump/Tie+Clips%2C+Cufflinks+%26+Lapel+Pins+/category/cat37680831', title="Shop Men's Tie Clips")
            h3 tie clip
          | , floral 
          a(href='https://www.lechateau.com/style/jump/Tie+Clips%2C+Cufflinks+%26+Lapel+Pins+/category/cat37680831', title="Shop Men's Label Pins")
            h3 lapel pin
          | , and decorative 
          a(href='https://www.lechateau.com/style/jump/Tie+Clips%2C+Cufflinks+%26+Lapel+Pins+/category/cat37680831', title="Shop Men's Cufflinks")
            h3 cufflinks
          | . Top things off with an on-trend 
          a(href='https://www.lechateau.com/style/browse/subcategoryBanner.jsp?categoryId=cat37680833', title="Shop Men's Hats")
            h3 hat
          | , such as the ivy cap, beanie or fedora, while a 
          a(href='https://www.lechateau.com/style/browse/subcategoryBanner.jsp?categoryId=cat37680833', title="Shop Men's Scarves")
            h3 scarf
          |  and matching 
          a(href='https://www.lechateau.com/style/browse/subcategoryBanner.jsp?categoryId=cat37680833', title="Shop Men's Gloves")
            h3 gloves
          |  keep you warm all year long. For when your outfit needs something unique, turn to standout 
          a(href='https://www.lechateau.com/style/jump/Jewellery/category/cat42870702', title="Shop Men's Jewellery")
            h3 jewellery
          | , fresh-off-the-runway 
          a(href='https://www.lechateau.com/style/jump/Sunglasses+/category/cat37680835', title="Shop Men's Sunglasses")
            h3 sunglasses
          | , or some funky 
          a(href='https://www.lechateau.com/style/jump/Socks/category/cat37680837', title="Shop Men's Socks")
            h3 socks
          | .
    p.containhidden
      br
      span#show.show(data-show='0') Read more