.grid-seo.margin-20.stay
  div(style='max-width: 1300px;margin:0 auto;')
    h1 Hommes
    div
      span
        | Faites grimper votre indice de style cette saison avec les plus 
        a(href='https://www.lechateau.com/style/jump/New+Arrivals/category/catmfr20021', title='Magasinez les nouveaut&eacute;s pour hommes')
          h2 r&eacute;centes nouveaut&eacute;s
        |  pour hommes de LE CH&Acirc;TEAU. Rehaussez votre look pour le bureau, le week-frd ou un party avec un 
        a(href='https://www.lechateau.com/style/browse/subcategoryBanner.jsp?categoryId=catmfr20029', title='Magasinez les vestons et gilets pour hommes')
          h2 veston ou un gilet
        |  dans un &eacute;l&eacute;gant motif quadrill&eacute; ou ton sur ton, dans une &eacute;toffe de laine structur&eacute;e ou un tissu en lin. D&eacute;nichez les 
        a(href='https://www.lechateau.com/style/jump/Shirts/category/cat38991707', title='Magasinez les chemises pour hommes')
          h2 chemises
        |  habill&eacute;es ou d&eacute;contract&eacute;es parfaites dans notre s&eacute;lection de coupes semi-ajust&eacute;e, ajust&eacute;e, athl&eacute;tique et r&eacute;guli&egrave;re. Agencez votre tenue avec un 
        a(href='https://www.lechateau.com/style/jump/Pants/category/catmfr20028', title='Magasinez les pantalons pour hommes')
          h2 pantalon
        |  pantalon d&eacute;contract&eacute; ou classique.
    .more-content.hide
      br
      span
        | Les 
        a(href='https://www.lechateau.com/style/jump/Sweaters+%26+Cardigans/category/catmfr20027', title='Magasinez les chandails et cardigans pour hommes')
          h2 chandails
        |  et 
        a(href='https://www.lechateau.com/style/jump/Sweaters+%26+Cardigans/category/catmfr20027', title='Magasinez les chandails et cardigans pour hommes')
          h2 cardigans boutonn&eacute;s
        |  sont parfaits pour vos looks &agrave; superposition, alors que nos 
        a(href='https://www.lechateau.com/style/jump/Jackets+%26+Coats/category/catmfr20030', title='Magasinez les manteaux et blousons pour hommes')
          h2 blousons et manteaux
        |  l&eacute;gers sont des incontournables pour les soir&eacute;es fra&icirc;ches. Pour les occasions relax, optez pour des 
        a(href='https://www.lechateau.com/style/jump/Knits+%26+Tees/category/catmfr20026', title='Magasinez les t-shirts et tricots pour hommes')
          h2 tricots et t-shirts
        |  tricots et t-shirts orn&eacute;s d'imprim&eacute;s cool. Compl&eacute;tez votre look avec une paire de 
        a(href='https://www.lechateau.com/style/jump/Shoes/category/cat38030790', title='Magasinez les chaussures pour hommes')
          h2 chaussures
        |  &eacute;l&eacute;gantes en cuir ou en su&egrave;de.
      br
      br
      h2.title Accessoires pour hommes
      div
        span
          | Mettez la derni&egrave;re touche &agrave; votre style d'automne avec les &eacute;l&eacute;gants accessoires pour hommes de LE CH&Acirc;TEAU. Affichez un look parfaitement soign&eacute; avec notre s&eacute;lection de 
          a(href='https://www.lechateau.com/style/jump/Ties+%26+Bow+Ties/category/cat43810703', title='Magasinez les cravates et noeuds papillon pour hommes')
            h3 cravates et noeuds papillon
          | , en coton frais, soie raffin&eacute;e et microfibre polyvalente. Brillez de style lors de votre prochain &eacute;v&eacute;nement avec un 
          a(href='https://www.lechateau.com/style/jump/Pocket+Squares+/category/cat37680828', title='Magasinez les mouchoirs de poche pour hommes')
            h3 mouchoir de poche
          |  affichant la dose parfaite de motif et de couleur. Vous aimez les ensembles coordonn&eacute;s? Nous avons ce qu'il vous faut avec nos 
          a(href='https://www.lechateau.com/style/jump/Box+Sets/category/cat37680829', title='Magasinez les ensembles pour hommes')
            h3 ensembles
          | .
      br
      div
        span
          | S'habiller avec &eacute;l&eacute;gance est facile comme tout avec une 
          a(href='https://www.lechateau.com/style/jump/Belts%2C+Suspenders+%26+Wallets/category/cat37680832', title='Magasinez les ceintures pour hommes')
            h3 ceinture
          |  r&eacute;versible, des 
          a(href='https://www.lechateau.com/style/jump/Belts%2C+Suspenders+%26+Wallets/category/cat37680832', title='Magasinez les bretelles pour hommes')
            h3 bretelles
          |  chics et un and a  
          a(href='https://www.lechateau.com/style/jump/Belts%2C+Suspenders+%26+Wallets/category/cat37680832', title='Magasinez les portefeuilles pour hommes')
            h3 portefeuille
          |  compact en cuir. Ajoutez la touche finale &agrave; votre complet des occasions sp&eacute;ciales avec une chic 
          a(href='https://www.lechateau.com/style/jump/Tie+Clips%2C+Cufflinks+%26+Lapel+Pins+/category/cat37680831', title='Magasinez les pinces &agrave; cravates pour hommes')
            h3 pince &agrave; cravate
          | , une  
          a(href='https://www.lechateau.com/style/jump/Tie+Clips%2C+Cufflinks+%26+Lapel+Pins+/category/cat37680831', title='Magasinez les boutonni&egrave;res pour hommes')
            h3 boutonni&egrave;re
          |  florale et des 
          a(href='https://www.lechateau.com/style/jump/Tie+Clips%2C+Cufflinks+%26+Lapel+Pins+/category/cat37680831', title='Magasinez les boutons de manchette pour hommes')
            h3 boutons de manchette
          |  d&eacute;coratifs. Mettez la derni&egrave;re touche avec un 
          a(href='https://www.lechateau.com/style/browse/subcategoryBanner.jsp?categoryId=cat37680833', title='Magasinez les chapeaux pour hommes')
            h3 chapeau
          | , comme une casquette Gatsby, une tuque ou un fedora, alors qu'une 
          a(href='https://www.lechateau.com/style/browse/subcategoryBanner.jsp?categoryId=cat37680833', title='Magasinez les &eacute;charpes pour hommes')
            h3 &eacute;charpe
          |  et des 
          a(href='https://www.lechateau.com/style/browse/subcategoryBanner.jsp?categoryId=cat37680833', title='Magasinez les gants pour hommes')
            h3 gants
          |  coordonn&eacute;s vous garderont bien au chaud en toute saison. Lorsque votre tenue a besoin de quelque chose d'unique, optez pour de superbes 
          a(href='https://www.lechateau.com/style/jump/Jewellery/category/cat42870702', title='Magasinez les bijoux pour hommes')
            h3 bijoux
          | , des 
          a(href='https://www.lechateau.com/style/jump/Sunglasses+/category/cat37680835', title='Magasinez les lunettes de soleil pour hommes')
            h3 lunettes de soleil
          | , inspir&eacute;es des passerelles ou des 
          a(href='https://www.lechateau.com/style/jump/Socks/category/cat37680837', title='Magasinez les chaussettes pour hommes')
            h3 chaussettes
          |  funky.
    p.containhidden
      br
      span#show.show(data-show='0') Voir plus