// SEO - DRESS
|
|
.grid-seo.margin-20.stay
  div(style='max-width: 1300px;margin:0 auto;')
    h1 DRESS SHOP
    div
      span
        | Discover LE CH&Acirc;TEAU's unique collection of 
        a(href='https://www.lechateau.com/style/jump/Dresses/category/cat37630709', title='Shop Dresses')
          h2 dresses
        |  for every occasion. Shop our Dress Shop and find feminine details, elevated silhouettes and styles for all your needs. LE CH&Acirc;TEAU is your dress destination; own the room with our 
        a(href='https://www.lechateau.com/style/jump/Cocktail+%26+Party/category/cat38761335', title='Shop Party Dresses')
          h2 party dresses
        |  and 
        a(href='https://www.lechateau.com/style/jump/Cocktail+%26+Party/category/cat38761335', title='Shop Cocktail Dresses')
          h2 cocktail
        |  attire. Make an entrance in our 
        a(href='https://www.lechateau.com/style/jump/Evening+%26+Formal+/category/cat37630734', title='Shop Formal Dresses')
          h2 formal gowns
        |  and 
        a(href='https://www.lechateau.com/style/jump/Evening+%26+Formal+/category/cat37630734', title='Shop Evening Dresses')
          h2 evening
        |  dresses. Rock your prom in our 
        a(href='https://www.lechateau.com/style/jump/Prom+Dresses/category/cat39920702', title='Shop Prom Dresses')
          h2 prom dresses
        | . Hit the town wearing our 
        a(href='https://www.lechateau.com/style/jump/Night+Out/category/cat37630731', title='Shop Night Out Dresses')
          h2 night out
        |  collection. Shop our 
        a(href='https://www.lechateau.com/style/jump/Night+Out/category/cat37630731', title='Shop Jumpsuits')
          h2 jumpsuits
        |  for a perfect one piece wonder and discover our 
        a(href='https://www.lechateau.com/style/jump/Little+Black+Dresses/category/cat37630733', title='Shop Little Black Dresses')
          h2 little black dresses
        |  for any event.
    .more-content.hide
      br
      span
        | LE CH&Acirc;TEAU dress shop also features exclusive 
        a(href='https://www.lechateau.com/style/jump/Little+Black+Dresses/category/cat37630733', title='Shop  Dresses Made in Canada')
          h2 Made in Canada
        |  styles, the latest trends in 
        a(href='https://www.lechateau.com/style/jump/Casual/category/cat37630732', title='Shop Casual Dresses')
          h2 casual
        |  and 
        a(href='https://www.lechateau.com/style/jump/Casual+%26+Day/category/cat37630732', title='Shop Daytime Dresses')
          h2 daytime dresses
        |  for laid-back looks and chic 
        a(href='https://www.lechateau.com/style/jump/Casual+%26+Day/category/cat37630732', title='Shop Wear to Work Dresses')
          h2 work-wear
        |  for your 9 to 5.
    p.containhidden
      br
      span#show.show Read more