// SEO - DRESS
|
|
.grid-seo.margin-20.stay
  div(style='max-width: 1300px;margin:0 auto;')
    h1 Robes
    div
      span
        | D&eacute;couvrez la collection unique de 
        a(href='https://www.lechateau.com/style/jump/Dresses/category/cat37630709', title='Magasinez les robes')
          h2 robes 
        |  pour toutes les occasions de LE CH&Acirc;TEAU. Explorez notre boutique de robes et d&eacute;couvrez des d&eacute;tails f&eacute;minins, de superbes silhouettes et des styles qui sauront r&eacute;pondre &agrave; tous vos besoins. LE CH&Acirc;TEAU est votre destination robes : faites sensation avec nos 
        a(href='https://www.lechateau.com/style/jump/Cocktail+%26+Party/category/cat38761335', title='Magasinez les robes cocktails')
          h2 robes et tenues cocktail
        | . Faites une entr&eacute;e remarqu&eacute;e dans nos 
        a(href='https://www.lechateau.com/style/jump/Evening+%26+Formal+/category/cat37630734', title='Magasinez les robes longues')
          h2 robes longues
        |  et 
        a(href='https://www.lechateau.com/style/jump/Evening+%26+Formal+/category/cat37630734', title='Magasinez les robes de soir&eacute;e')
          h2 robes de soir&eacute;e
        | . Soyez la reine de la soir&eacute;e dans nos 
        a(href='https://www.lechateau.com/style/jump/Prom+Dresses/category/cat39920702', title='Magasinez les robes de bal')
          h2 robes de bal
        | . Affichez un style unique avec notre collection  
        a(href='https://www.lechateau.com/style/jump/Night+Out/category/cat37630731', title='Magasinez les robes de sortie en soir&eacute;e')
          h2 sortie en soir&eacute;e
        | . Magasinez nos superbes 
        a(href='https://www.lechateau.com/style/jump/Night+Out/category/cat37630731', title='Magasinez les combi-pantalons')
          h2 combi-pantalons
        |  et d&eacute;couvrez nos 
        a(href='https://www.lechateau.com/style/jump/Little+Black+Dresses/category/cat37630733', title='Magasinez les petites robes noires')
          h2 petites robes noires
        |  parfaites pour tous vos &eacute;v&eacute;nements.
    .more-content.hide
      br
      span
        | La boutique de robes de LE CH&Acirc;TEAU offre &eacute;galement des mod&egrave;les exclusifs 
        a(href='https://www.lechateau.com/style/jump/Little+Black+Dresses/category/cat37630733', title='Magasinez les robes faites au Canada')
          h2 faits au Canada
        |  les plus r&eacute;centes tendances en mati&egrave;re de 
        a(href='https://www.lechateau.com/style/jump/Casual/category/cat37630732', title='Magasinez les robes d&eacute;contract&eacute;es')
          h2 robes d&eacute;contract&eacute;es
        |  et de 
        a(href='https://www.lechateau.com/style/jump/Casual+%26+Day/category/cat37630732', title='Magasinez les robes de jour')
          h2 jour
        |  pour vos looks relax et de chics 
        a(href='https://www.lechateau.com/style/jump/Casual+%26+Day/category/cat37630732', title='Magasinez les robes de bureau')
          h2 tenues de bureau
        |  our votre neuf &agrave; cinq.
    p.containhidden
      br
      span#show.show Voir plus