.grid-seo.margin-20.stay
  h1 CLEARANCE
  div
    span
      | Explore LE CH&Acirc;TEAU's Clearance section for great deals on stylish items from every department. Discover incredible discounts on clothes, shoes and accessories. LE CH&Acirc;TEAU's sales provide you with the chance to save big on trendy women's and men's clothing plus more.
  .more-content.hide
    br
    span
      | Find LE CH&Acirc;TEAU's discounts on 
      a(href='https://www.lechateau.com/style/jump/CLEARANCE/category/cat41960717', title="Shop Women's Clearance")
        h2 Women's Clearance
      | , dresses, tops, sweaters, jackets, coats, blazers, vests, pants and skirts. Accessorize with marked down belts and scarves for women. Discover a great way to save on Clearance dresses, fashion scarves and items from the 
      a(href='https://www.lechateau.com/style/jump/All+Men/category/cat41990713', title="Shop Men's Clearance")
        h2 Men's Clearance
      |  section. Take advantage of LE CH&Acirc;TEAU's Clearance by stocking up on basics or grabbing that special piece for a fabulous blowout price.
  p.containhidden
    br
    span#show.show Read more