.grid-seo.margin-20.stay
  div(style='max-width: 815px;margin:0 auto;')
    h1 OUTLET
    div
      span
        | Head to LE CH&Acirc;TEAU's OUTLET section for savings of up to 70%. Shop unbelievable prices on  
        a(href='https://www.lechateau.com/style/jump/Prom+Dresses/category/cat46000714', title='Save on Outlet Prom Dresses')
          h2 prom dresses
        | , 
        a(href='https://www.lechateau.com/style/jump/Blazers+%26+Vests/category/cat37310737', title='Save on Outlet Business-Casual Suits')
          h2 business-casual suits
        |  for both 
        a(href='https://www.lechateau.com/style/jump/All+Women/category/cat46020766', title="Shop Women's Outlet Clothing ")
          h2 WOMEN
        |  and  
        a(href='https://www.lechateau.com/style/jump/All+Men/category/cat46020764', title="Shop Men's Outlet Clothing")
          h2 MEN
        |  plus 
        a(href='https://www.lechateau.com/style/jump/All+Shoes/category/cat39023995', title='Shop Shoes & Handbags Outlet')
          h2 SHOES & HANDBAGS
        |  and 
        a(href='https://www.lechateau.com/style/jump/Accessories/category/cat39310746', title='Shop Acessories Outlet')
          h2 ACCESSORIES
        |  the OUTLET STORE.
    .more-content.hide
      br
      span
        | LE CH&Acirc;TEAU's OUTLET STORE has incredible WOMEN's styles for every season like lovely 
        a(href='https://www.lechateau.com/style/jump/Sweaters+%26+Cardigans/category/cat37310729', title='Save on Outlet Sweaters for Women')
          h2 sweaters
        |  fashion-forward 
        a(href='https://www.lechateau.com/style/jump/Jackets+%26+Coats/category/cat37310741', title='Save on Outlet Jackets & Coats for Women')
          h2 jackets & coats
        |  for out-of-this-world unbeatable prices that you won't find anywhere else. Look out for our weekly $35 and under FLASH SALE's by subscribing to our mailing list and by heading to our LE CH&Acirc;TEAU  
        a(href='https://www.lechateau.com/style/', title='Shop LE CH&Acirc;TEAU')
          h2 website
        |  daily! Remember our OUTLET flash sales are for a limited time only so act fast!
      span
        br
        br
        | 						Find a LE CH&Acirc;TEAU Outlet Store near you: 
        a(href='https://www.lechateau.com/style/company/storeLocator.jsp?location=montreal&type=outlet', title='Find An Outlet Store in Montreal')
          h2 Outlet Montreal
        | ,
        a(href='https://www.lechateau.com/style/company/storeLocator.jsp?location=toronto&type=outlet', title='Find An Outlet Store in Toronto')
          h2 Outlet Toronto
        | , 
        a(href='https://www.lechateau.com/style/company/storeLocator.jsp?location=vancouver&type=outlet', title='Find An Outlet Store in Vancouver')
          h2 Outlet Vancouver
        | ,
        a(href='https://www.lechateau.com/style/company/storeLocator.jsp?location=winnipeg&type=outlet', title='Find An Outlet Store in Winnipeg')
          h2 Outlet Winnipeg
        | 						and 
        a(href='https://www.lechateau.com/style/company/storeLocator.jsp?location=edmonton&type=outlet', title='Find An Outlet Store in Edmonton')
          h2 Outlet Edmonton
        | . For all other locations 
        a(href='https://www.lechateau.com/style/company/storeLocator.jsp?type=outlet', title='Find An Outlet Store')
          h2 click here
        | .
    p.containhidden
      br
      span#show.show Read more