.grid-seo.margin-20.stay
  div(style='max-width: 815px;margin:0 auto;')
    h1 ENTREP&Ocirc;T
    div
      span
        | Rendez-vous &agrave; la section ENTREP&Ocirc;T de LE CH&Acirc;TEAU pour &eacute;conomiser jusqu'&agrave; 70 % sur les prix courants. Profitez de prix incroyables sur les 
        a(href='https://www.lechateau.com/style/jump/Prom+Dresses/category/cat46000714', title="Magasinez les robes de bal de l'entrep&ocirc;t")
          h2 robes de bal
        | , 
        a(href='https://www.lechateau.com/style/jump/Blazers+%26+Vests/category/cat37310737', title="Magasinez les tenues d'affaires d&eacute;contract&eacute;es de l'entrep&ocirc;t")
          h2 tenues d'affaires d&eacute;contract&eacute;es
        |  pour 
        a(href='https://www.lechateau.com/style/jump/All+Women/category/cat46020766', title="Magasinez les v&ecirc;tements pour femmes de l'entrep&ocirc;t")
          h2 FEMMES
        |  et  
        a(href='https://www.lechateau.com/style/jump/All+Men/category/cat46020764', title="Magasinez les v&ecirc;tements pour hommes de l'entrep&ocirc;t")
          h2 HOMMES
        | , plus les  
        a(href='https://www.lechateau.com/style/jump/All+Shoes/category/cat39023995', title="Magasinez les chaussures de l'entrep&ocirc;t")
          h2 CHAUSSURES ET SACS &Agrave; MAIN
        |  et 
        a(href='https://www.lechateau.com/style/jump/Accessories/category/cat39310746', title="Magasinez les accessoires de l'entrep&ocirc;t")
          h2 ACCESSOIRES
        |  BOUTIQUE ENTREP&Ocirc;T.
    .more-content.hide
      br
      span
        | LA BOUTIQUE ENTREP&Ocirc;T LE CH&Acirc;TEAU offre des styles pour FEMMES sensationnels pour toutes les saisons, comme de ravissants 
        a(href='https://www.lechateau.com/style/jump/Sweaters+%26+Cardigans/category/cat37310729', title="Magasinez les chandails de l'entrep&ocirc;t")
          h2 chandails
        | , de m&ecirc;me que des 
        a(href='https://www.lechateau.com/style/jump/Jackets+%26+Coats/category/cat37310741', title="Magasinez les blousons et manteaux de l'entrep&ocirc;t")
          h2 blousons et manteaux
        |  tendance &agrave; des prix imbattables que vous ne trouverez nulle part ailleurs. Pour ne pas rater notre SOLDE &Eacute;CLAIR hebdomadaire &agrave; 35 $ ou moins, inscrivez-vous &agrave; notre liste d'envoi et visitez notre 
        a(href='https://www.lechateau.com/style/', title='Magasinez LE CH&Acirc;TEAU')
          h2 site web
        |  LE CH&Acirc;TEAU chaque jour! N'oubliez pas : nos soldes &eacute;clair de l'ENTREP&Ocirc;T sont pour un temps limit&eacute; seulement faites vite!
      span
        br
        br
        | 						Trouvez un magasin LE CH&Acirc;TEAU entrep&ocirc;t pr&egrave;s de chez vous : 
        a(href='https://www.lechateau.com/style/company/storeLocator.jsp?location=montreal&type=outlet', title='Trouvez un entrep&ocirc;t &agrave; Montr&eacute;al')
          h2 Entrep&ocirc;t Montr&eacute;al
        | ,
        a(href='https://www.lechateau.com/style/company/storeLocator.jsp?location=toronto&type=outlet', title='Trouvez un entrep&ocirc;t &agrave; Toronto')
          h2 Entrep&ocirc;t Toronto
        | , 
        a(href='https://www.lechateau.com/style/company/storeLocator.jsp?location=vancouver&type=outlet', title='Trouvez un entrep&ocirc;t &agrave; Vancouver')
          h2 Entrep&ocirc;t Vancouver
        | ,
        a(href='https://www.lechateau.com/style/company/storeLocator.jsp?location=winnipeg&type=outlet', title='Trouvez un entrep&ocirc;t &agrave; Winnipeg')
          h2 Entrep&ocirc;t Winnipeg
        | 						et 
        a(href='https://www.lechateau.com/style/company/storeLocator.jsp?location=edmonton&type=outlet', title='Trouvez un entrep&ocirc;t &agrave; Edmonton')
          h2 Entrep&ocirc;t Edmonton
        | . Pour tous les autres entrep&ocirc;ts, 
        a(href='https://www.lechateau.com/style/company/storeLocator.jsp?type=outlet', title='Trouvez un entrep&ocirc;t')
          h2 cliquez ici
        | .
    p.containhidden
      br
      span#show.show Voir plus