//- button classes : regular(black), secondary(white), gothamMed underlineCTA (black underline)
//- Gif picture use complete path : https://lechateau.scene7.com/is/content/LeChateau/landing/shops/home/lechateau-180422-en-d_13.gif
//- Mixins: 
//-   +hero(link, seo, alt-text, hero-img, desktop-img, mobile-img, lazyload=true)
//-   +bckImg(link, seo, alt-text, desktop image, mob image, lazyload=true)
//-   +cta(text, href, seo) //for ctas within .ctas
//-   +map(link, seo) //for image-map within .image-map
//-   +youtube() need to add +youtubeScript('videoId') at end of the page
//-   +shopIcon(link, lang)(style="left:0%; top:0%;") //within .ctas
//-
//- break-point: LP-DESKTOP / LP-DEVICE
//-
//-.row
//-  .ctas.LP-DESKTOP
//-    +cta('text', 'href', 'seo')
//-    |
//-    |
//-  +bckImg('link', 'seo', 'alt-text', 'desktop', 'mob')
//-  |
//-  |
//-  |
//-  // image
//-  .image-map
//-    +map('link', 'seo')
//-    |
//-    |
style.
    /* HERO CSS */
    @media (min-width: 1300px) {
    #landingPage > div.row.hero.party > div.ctas.LP-DESKTOP > a
    {
    position: relative;
    }
    #landingPage > div.row.hero.party > div.ctas.LP-DESKTOP
    {
    height: 0px;
    }
    #landingPage > div.row.hero.party > div.ctas.LP-DESKTOP > a {
    top: 553px;
    left:-615px;
    }	
    }
    @media (max-width: 1300px) and (min-width: 769px) {
    #landingPage > div.row.hero.party > div.ctas.LP-DESKTOP > a
    {
    position: absolute;
    }
    #landingPage > div.row.hero.party > div.ctas.LP-DESKTOP > a {
    left: 12%;
    top: 86%;
    }
    }
    @media (max-width: 768px) {
    .row.margin-0 {
    margin-top: 60px;
    margin-top: calc((40/591) * 100%);
    }
    }

// FLASH SALE
.row.row1
  // CTAs
  .ctas.LP-DESKTOP
    a.btn-lc.regular.margin-00(href='https://www.lechateau.com/style/jump/All+Women+/category/cat43020707', target='_top', title='Shop Outlet Flash Sale', style='left:42%; top: 84%;') Save Now
  // @end CTAs
  // BACKGROUND IMAGE
  .image-bckg
    a(href='https://www.lechateau.com/style/jump/All+Women+/category/cat43020707', title='Shop Outlet Flash Sale')
      picture
        //if IE 9
          audio
        // Mobile
        source(media='(max-width: 768px)', srcset='https://lechateau.scene7.com/is/image/LeChateau/homepage-banner-FS-110819-en-M?$jpeg-prog$&cache=off')
        // Desktop
        source(media='(min-width: 768px)', srcset='https://lechateau.scene7.com/is/image/LeChateau/homepage-banner-FS-110819-en-d?$jpeg-prog$&cache=off')
        //if IE 9
        img(src='https://lechateau.scene7.com/is/image/LeChateau/homepage-banner-FS-110819-en-M?$jpeg-prog$&cache=off', alt='Shop Outlet Flash Sale', decoding='async')
  // @end BACKGROUND
|
|
|
//-START ----------------------
// PROMO BOOTS
.row
  // CTAs
  .ctas.LP-DESKTOP
    a.btn-lc.regular.margin-00(href='https://www.lechateau.com/style/jump/Extra+%2425+Off+Tops+%26+Bottoms/category/cat47100725', target='_top', title='Shop Sale Tops & Bottoms', style='left:53%; top: 86%;') TOPS & BOTTOMS
  // @end CTAs
  // BACKGROUND IMAGE
  .image-bckg
    a(href='https://www.lechateau.com/style/jump/Extra+%2425+Off+Tops+%26+Bottoms/category/cat47100725', title='Shop Sale Tops & Bottoms')
      picture
        //if IE 9
          audio
        // Mobile
        source(media='(max-width: 768px)', srcset='https://lechateau.scene7.com/is/image/LeChateau/homepagebanner-promo-110719-en-m?$jpeg-prog$&cache=off')
        // Desktop
        source(media='(min-width: 768px)', srcset='https://lechateau.scene7.com/is/image/LeChateau/homepagebanner-promo-110719-en-d?$jpeg-prog$&cache=off')
        //if IE 9
        img(src='https://lechateau.scene7.com/is/image/LeChateau/homepagebanner-promo-110719-en-m?$jpeg-prog$&cache=off', alt='Shop Sale', decoding='async')
  // @end BACKGROUND
//-END ----------------------
  
//-START ----------------------
// ROW - PRE-BF SALE
.row
  // ctas
  .ctas.LP-DESKTOP
    +cta('50% Off Dresses', 
		 'https://www.lechateau.com/style/jump/50%25+Off+Dresses+/category/cat260081', 
		 "Shop Dresses")(class="btn-lc regular margin-0", style="left:22%; bottom: 5%;")
    +cta('50% Off boots & shoes', 
		 'https://www.lechateau.com/style/jump/50%25+Off+All+Shoes+%26+Boots/category/cat260038', 
		 "Shop Boots & Shoes")(class="btn-lc regular margin-0", style="left:41%; bottom: 5%;")
    +cta('Shop everything on sale', 
		 'https://www.lechateau.com/style/jump/SALE/category/cat260028', 
		 "Shop the Sale")(class="btn-lc regular margin-0", style="left:64%; bottom: 5%;")          
  // image
  +bckImg('https://www.lechateau.com/style/jump/SALE/category/cat260028', 
		  "Shop the Sale",
		  "Early Black Firday Sale",
		  'prebf-dressesshoes-251119-en-d', 
		  'prebf-dresses-251119-m-en',
		  false)
  .image-map.LP-DEVICE
    +map('https://www.lechateau.com/style/jump/50%25+Off+Dresses+/category/cat260081', 'Shop Dresses')(style="height:65%; top:0; left:0; position:absolute; width:100%;")
    +map('https://www.lechateau.com/style/jump/50%25+Off+All+Shoes+%26+Boots/category/cat260038', 'Shop Boots & Shoes')(style="height:18%; top:64%; left:0; position:absolute; width:100%;")
    +map('https://www.lechateau.com/style/jump/SALE/category/cat260028', 'Shop the Sale')(style="height:20%; top:80%; left:0; position:absolute; width:100%;")
// END - PRE-BF SALE
//-END--------------------

  
//-START ----------------------
// ROW - HERO PARTY
.row.hero.party
  // ctas
  .ctas.LP-DESKTOP
    +cta('SHOP NEW ARRIVALS', 
		 "https://www.lechateau.com/style/jump/New+Arrivals/category/catwfr10020", 
		 "Shop Women's New Arrivals")(class="btn-lc secondary margin-00")
		 
  // image
  +hero("https://www.lechateau.com/style/jump/New+Arrivals/category/catwfr10020", 
		  "Shop Women's New Arrivals",
		  "Life of the Party. Step out and stand out, these styles won’t fade into the night. Shop New Arrivals",
      'lechateau-08-11-19-en-d_01',
		  'lechateau-08-11-19-en-d_01-1300',
		  'lechateau-08-11-19-en-m_01',
		  false)
// END - ROW
//-END--------------------

//-START ----------------------
// ROW - SIZE
.row.margin-00
  // image
  +bckImg('https://www.lechateau.com/style/jump/New+Arrivals/category/catwfr10020', 
		  "",
		  "Collection available in extended sizes 00-18/XXS-XXL & select styles up to 22W/3X",
		  'lechateau-08-11-19-en-d_03', 
		  'lechateau-08-11-19-en-m_02',
		  false)
// END - ROW - SIZE
//-END--------------------

		  
		  
//-START ----------------------
// ROW - DRESSES
.row
  // ctas
  .ctas.LP-DESKTOP
    +cta('Shop dresses ', 
		 'https://www.lechateau.com/style/jump/Dresses/category/cat37630709', 
		 "Shop Dresses")(class="btn-lc regular margin-0", style="left:5%; bottom: 0%;")
  // image
  +bckImg('https://www.lechateau.com/style/jump/Dresses/category/cat37630709', 
		  "Shop Dresses",
		  "Dress to Dazzle. Show them you’re here to shine. Shop Dresses",
		  'lechateau-08-11-19-en-d_06', 
		  'lechateau-08-11-19-en-m_03',
		  false)
// END - ROW DRESSES
//-END--------------------
|
|
|
//-START ----------------------
// ROW - DRESSES
.row
  // image
  +bckImg('https://www.lechateau.com/style/jump/Metallic+Knit+Wrap-Like+Dress/productDetail/All+Women/376726/cat37630709', 
		  "",
		  "",
		  'lechateau-08-11-19-en-d_09', 
		  'lechateau-08-11-19-en-m_05')
  .image-map.LP-DESKTOP
    +map('https://www.lechateau.com/style/jump/Metallic+Knit+Wrap-Like+Dress/productDetail/All+Women/376726/cat37630709','Shop The Metallic Wrap')(style="top: 0; left:0; height:100%; width: 25%; position: absolute;")
    +map('https://www.lechateau.com/style/jump/Floral+Knit+Cr%C3%AApe+Off-the-Shoulder+Dress/productDetail/Dresses/378026/cat37630709','Shop The Floral Off-the-Shoulder')(style="top: 0; left:25%; height:100%; width: 25%; position: absolute;")
    +map('https://www.lechateau.com/style/jump/Knit+Cowl+Neck+Cocktail+Dress/productDetail/Dresses/377582/cat37630733','Shop The Classic LBD')(style="top: 0; left:50%; height:100%; width: 25%; position: absolute;") 
    +map('https://www.lechateau.com/style/jump/Velvet+Wrap-Like+Dress/productDetail/Dresses/376992/cat37630709','Shop The Velvet Wrap')(style="top: 0; left:75%; height:100%; width: 25%; position: absolute;")
  .image-map.LP-DEVICE
    +map('https://www.lechateau.com/style/jump/Floral+Knit+Cr%C3%AApe+Off-the-Shoulder+Dress/productDetail/Dresses/378026/cat37630709','Shop The Floral Off-the-Shoulder')(style="top: 0; left:0%; height:100%; width: 50%; position: absolute;")
    +map('https://www.lechateau.com/style/jump/Knit+Cowl+Neck+Cocktail+Dress/productDetail/Dresses/377582/cat37630733','Shop The Classic LBD')(style="top: 0; left:50%; height:100%; width: 50%; position: absolute;")     
// END - ROW - DRESSES
//-END--------------------
|
|
|
//-START ----------------------
// ROW - TOPS
.row
  // ctas
  .ctas.LP-DESKTOP
    +cta('Shop Tops', 
		 'https://www.lechateau.com/style/jump/Tops/category/catwfr10025', 
		 "Shop Women's Tops")(class="btn-lc regular margin-40", style="left:52%; top: 86%;")
  // image
  +bckImg('https://www.lechateau.com/style/jump/Tops/category/catwfr10025', 
		  "Shop Women's Tops",
		  "Tops to Stand Out. Elegant yet fun, we’ve got the tops that wow. Shop Tops",
		  'lechateau-08-11-19-en-d_15', 
		  'lechateau-08-11-19-en-m_07')
// END - ROW TOPS
//-END--------------------
|
|
|
|
|
|
//-START ----------------------
// ROW - SHOES 
.row
  // ctas
  .ctas.LP-DESKTOP
    +cta('Shop now', 
		 'https://www.lechateau.com/style/jump/Holiday+%26+Party/category/cat39170936', 
		 "Shop Women's Holiday & Party Shoes")(class="btn-lc regular margin-40", style="left:65%; top: 84%;")
  // image
  +bckImg('https://www.lechateau.com/style/jump/Holiday+%26+Party/category/cat39170936', 
		  "Shop Women's Holiday & Party Shoes",
		  "Party-Ready Shoes. Elevate your whole look with these styles. Shop now",
		  'lechateau-08-11-19-en-d_21', 
		  'lechateau-08-11-19-en-m_09')
// END - SHOES
//-END--------------------
|
|
|
//-START ----------------------
// ROW - SHOES ITEMS
.row
  // image
  +bckImg('https://www.lechateau.com/style/jump/Metallic+Knit+Wrap-Like+Dress/productDetail/All+Women/376726/cat37630709', 
		  "",
		  "",
		  'lechateau-08-11-19-en-d_24', 
		  'lechateau-08-11-19-en-m_11')
  .image-map.LP-DESKTOP
    +map('https://www.lechateau.com/style/jump/Faux+Suede+Pointy+Toe+Pump/productDetail/Pumps/376842/catsfr51002','Shop Pointy Toe Pump')(style="top: 0; left:0; height:100%; width: 25%; position: absolute;")
    +map('https://www.lechateau.com/style/jump/Faux+Suede+Ankle+Boot/productDetail/All+Shoes+%26+Boots/375483/cat45250704','Shop Stretch Knee High')(style="top: 0; left:25%; height:100%; width: 25%; position: absolute;")
    +map('https://www.lechateau.com/style/jump/Faux+Suede+Pointy+Toe+Knee-High+Boot/productDetail/Combat+%26+Lace-up+Boots/375069/cat45870755','Shop Lace-Up Knee High')(style="top: 0; left:50%; height:100%; width: 25%; position: absolute;") 
    +map('https://www.lechateau.com/style/jump/Stretch+Faux+Leather+Knee-High+Boot/productDetail/Stretch+Boots+/376261/cat45870755','Shop Chelsea Boot')(style="top: 0; left:75%; height:100%; width: 25%; position: absolute;")
  .image-map.LP-DEVICE
    +map('https://www.lechateau.com/style/jump/Faux+Suede+Ankle+Boot/productDetail/All+Shoes+%26+Boots/375483/cat45250704','Shop Stretch Knee High')(style="top: 0; left:0%; height:100%; width: 50%; position: absolute;")
    +map('https://www.lechateau.com/style/jump/Faux+Suede+Pointy+Toe+Pump/productDetail/Pumps/376842/catsfr51002','Shop Pointy Toe Pump')(style="top: 0; left:50%; height:100%; width: 50%; position: absolute;")     
// END - TOPS ITEMS
//-END--------------------
|
|
|
//-START ----------------------
// ROW - PLUS
.row
  // ctas
  .ctas.LP-DESKTOP
    +cta('SHOP PLUS', 
		 'https://www.lechateau.com/style/jump/Plus+Size/category/cat44810713', 
		 "Shop Women's Plus Size Clothing")(class="btn-lc regular margin-40", style="left:36%; top: 88%;")
  // image
  +bckImg('https://www.lechateau.com/style/jump/Plus+Size/category/cat44810713', 
		  "Shop Women's Plus Size Clothing",
		  "More Styles, More Sizes. Cozy-chic styles available up to size 3X and 22W online & in select stores. Shop Plus",
		  'lechateau-08-11-19-en-d_30', 
		  'lechateau-08-11-19-en-m_13')
// END - PLUS
//-END--------------------
|
|
|
//-START ----------------------
// ROW - COATS
.row
  // ctas
  .ctas.LP-DESKTOP
    +cta('Shop all coats', 
		 'https://www.lechateau.com/style/jump/Coats+%26+Jackets/category/catwfr10031', 
		 "Shop all coats")(class="btn-lc regular margin-40", style="right:11%; top: 88%;")
  // image
  +bckImg('https://www.lechateau.com/style/jump/Coats+%26+Jackets/category/catwfr10031', 
		  "Shop all coats",
		  "Need-Now Puffers. Chilly days & frosty nights, beat the cold with these winter-ready staples. Shop all coats",
		  'lechateau-08-11-19-en-d_36', 
		  'lechateau-08-11-19-en-m_15')
// END - COATS
//-END--------------------
|
|
|
//-START ----------------------
// ROW - SWEATERS/BOOTS
.row
  // ctas
  .ctas.LP-DESKTOP
    +cta('Shop sweaters', 
		 'https://www.lechateau.com/style/jump/Sweaters+%26+Cardigans/category/cat43770731', 
		 "Shop Women's Sweaters & Cardigans")(class="btn-lc regular margin-0", style="left:1%; bottom: 0;")
    +cta('Shop boots', 
		 'https://www.lechateau.com/style/jump/Boots+%26+Shooties/category/cat45250704', 
		 "Shop Women’s Boots")(class="btn-lc regular margin-0", style="left:51%; bottom: 0;")    
  // image
  +bckImg('https://www.lechateau.com/style/jump/Sweaters+%26+Cardigans/category/cat43770731', 
		  "Shop Women’s Sweaters & Cardigans",
		  "Cozy-chic Sweaters. Perfect for every day of the week. Shop sweaters",
		  'lechateau-08-11-19-en-d_42', 
		  'lechateau-08-11-19-en-m_17')
  .image-map.LP-DESKTOP
    +map('https://www.lechateau.com/style/jump/Sweaters+%26+Cardigans/category/cat43770731',"Shop Women's Sweaters & Cardigans")(style=" width:50%; height: 100%; left:0; top:0; position:absolute;")
    +map('https://www.lechateau.com/style/jump/Boots+%26+Shooties/category/cat45250704',"Shop Women’s Boots")(style=" width:50%; height: 100%; left:50%; top:0; position:absolute;")    
// END - COATS
//-END--------------------
|
|
|
//-START ----------------------
// ROW - MOBILE BOOTS
.row.LP-DEVICE
  // image
  +bckImg('https://www.lechateau.com/style/jump/Boots+%26+Shooties/category/cat45250704', 
		  "Shop boots",
		  "Must-have Boots. Designed to keep your feet comfortable & warm. Shop boots ",
		  'lechateau-08-11-19-en-m_19', 
		  'lechateau-08-11-19-en-m_19')
// END - ROW
//-END--------------------
|
|
|
|
|
|
//-START ----------------------
// ROW - MEN
.row
  // ctas
  .ctas.LP-DESKTOP
    +cta('Shop Men', 
		 'https://www.lechateau.com/style/jump/All+Men/category/cat46020718', 
		 "Shop Men's Clothing")(class="btn-lc secondary margin-40", style="left:57%; top: 77%;")
  // image
  +bckImg('https://www.lechateau.com/style/jump/All+Men/category/cat46020718', 
		  "Shop Men's Clothing",
		  "Puffer Season. Meet the ultimate down filled puffer. Available in 3 colours . The coolest part of your outfit is also the warmest. Shop menswear ",
		  'lechateau-08-11-19-en-d_48', 
		  'lechateau-08-11-19-en-m_21')
// END - MEN
//-END--------------------
|
|
|
//-START ----------------------
// ROW -  WEDDING
.row
  // ctas
  .ctas.LP-DESKTOP
    +cta('The wedding boutique', 
		 'https://www.lechateau.com/style/jump/The+Wedding+Boutique/category/cat38761589', 
		 "Explore The Wedding Boutique")(class="btn-lc secondary margin-40", style="left:13.5%; top: 59%;")
  // image
  +bckImg('https://www.lechateau.com/style/jump/The+Wedding+Boutique/category/cat38761589', 
		  "Explore The Wedding Boutique",
		  "RSVP Style. RSVP in style by getting dressed in the season’s most sought-after styles. The wedding boutique",
		  'lechateau-08-11-19-en-d_54', 
		  'lechateau-08-11-19-en-m_23')
// END - WEDDING
//-END--------------------
|
|
|

//-START ----------------------
// ROW - APPOINTMENT
.row
  // ctas
  .ctas.LP-DESKTOP
    +cta('LEARN MORE', 'https://www.lechateau.com/style/editorial.jsp?content=lifestyled', 'Book a Personal Styling Appointment')(class="btn-lc regular margin-00", style="right:61.5%; top: 83%;")
  // image
  +bckImg('https://www.lechateau.com/style/editorial.jsp?content=lifestyled', 
  'Book a Personal Styling Appointment', 
  "Introducing Your Life Styled Personal Styling Service. Book an in-store appointment with our LE CHÂTEAU stylists. - One-on-one personalized experience - Up to 60mins of expert styling & fashion advice - Looks tailored to your personal style/upcoming event -Reserved changing room + Receive a special gift  *Limited quantities. Learn more", 
  'styling-service-banner-190920-en-d', 
  'styling-service-banner-190920-en-m')
// END - ROW
//-END--------------------



//-START ----------------------
// ROW - OUTLET BOTTOM
.row.LP-DESKTOP
  // image
  +bckImg('', 'Shop Dresses on Sale', 'Shop Dresses on Sale', 'salebanner-191016-en-d-v2', 'salebanner-191016-en-d-v2')
  // image-map
  .image-map
    +map('https://www.lechateau.com/style/jump/SALE/category/cat260028', 'Shop Sale')(style="top:0; left: 0; width: 33.33%; height:100%; position:absolute;")
    +map('https://www.lechateau.com/style/jump/OUTLET/category/cat37310715', 'Shop the Outlet Store')(style="top:0; left: 33.33%; width: 33.33%; height:100%; position:absolute;")
    +map('https://www.lechateau.com/style/jump/CLEARANCE/category/cat45930750', 'Shop Clearance')(style="top:0; left: 66.66%; width: 33.33%; height:100%; position:absolute;")
// END - ROW
//-END--------------------



//-START ----------------------
//- INSTAGRAM (img,link)
-var insta = [['instagram-190925-01','https://www.lechateau.com/style/jump/INSTAG376021_063/productDetail/Social+Looks/INSTAG376021_063/cat46700705'],['instagram-190925-02','https://www.lechateau.com/style/jump/INSTAG376589_209/productDetail/Social+Looks/INSTAG376589_209/cat46700705'],['instagram-190925-03','https://www.lechateau.com/style/jump/INSTAG370115_053/productDetail/Social+Looks/INSTAG370115_053/cat46700705'],['instagram-190925-05','https://www.lechateau.com/style/jump/INSTAG375984_446/productDetail/Social+Looks/INSTAG375984_446/cat46700705']]
+instagram(insta)
//-END--------------------

+legal("*Select styles.")