//- button classes : regular(black), secondary(white), gothamMed underlineCTA (black underline)
//- Gif picture use complete path : https://lechateau.scene7.com/is/content/LeChateau/landing/shops/home/lechateau-180422-en-d_13.gif
//- Mixins: 
//-   +hero(link, seo, alt-text, hero-img, desktop-img, mobile-img, lazyload=true)
//-   +bckImg(link, seo, alt-text, desktop image, mob image, lazyload=true)
//-   +cta(text, href, seo) //for ctas within .ctas
//-   +map(link, seo) //for image-map within .image-map
//-   +youtube() need to add +youtubeScript('videoId') at end of the page
//-   +shopIcon(link, lang)(style="left:0%; top:0%;") //within .ctas
//-
//- break-point: LP-DESKTOP / LP-DEVICE
//-
//-.row
//-  .ctas.LP-DESKTOP
//-    +cta('text', 'href', 'seo')
//-    |
//-    |
//-  +bckImg('link', 'seo', 'alt-text', 'desktop', 'mob')
//-  |
//-  |
//-  |
//-  // image
//-  .image-map
//-    +map('link', 'seo')
//-    |
//-    |
|
|
|
|
//-START ----------------------
// ROW - TOP BANNER
.row.row1
  |
  |
  // image
  +bckImg('https://www.lechateau.com/style/jump/All+Women/category/cat46020717', 
			  'Shop Sale', 
			  "You'll fall for this sale. Up to 70% off. Shop Sale", 
			  'sale-191015-en-d_01', 
			  'sale-191015-en-m_01', false)
  |
  |
|
|
// END - ROW
|
|
|
//-END--------------------


//-START ----------------------
// ROW - DRESSES
.row
  |
  |
  // image
  +bckImg('https://www.lechateau.com/style/jump/All+Women/category/cat46020717', 
			  'Shop Dresses', 
			  "Dresses 50% off original prices. Shop Dresses", 
			  'sale-191015-en-d_01', 
			  'sale-191015-en-m_01', false)
  |
  |
|
|
// END - ROW - DRESSES

|
|
|
//-END--------------------


#shoes(style="height:0px")  &#160;
|
|
|
//-START ----------------------
// ROW - BOOTS & SHOES 
.row
  // ctas
  .ctas.LP-DESKTOP
    +cta('Shop the early sale', 
		 'https://www.lechateau.com/style/jump/50%25+Off+All+Shoes+%26+Boots/category/cat260038', 
		 "Shop Sale Shoes")(class="btn-lc regular margin-00", style="left:51%; top: 79%;")
  // image
  +bckImg('https://www.lechateau.com/style/jump/50%25+Off+All+Shoes+%26+Boots/category/cat260038', 
			"Shop Sale Shoes", 
			"Shop Sale Shoes", 
			'shoe-banner-251119', 
			'shoe-banner-251119-m_02-v2',
			false)
  |
  |
|
|
// END - ROW BOOTS & SHOES
|
|
|
//-END--------------------



//-START ----------------------
// ROW - SHOES
.row
  // image
  +bckImg('https://www.lechateau.com/style/jump/All+Women/category/cat46020717', 
			"Shop Women's Clothing on Sale", 
			'All Women. Up to 70% off*. All Shoes up to 60%. All Men. Up to 60% off*.', 
			'sale-191015-en-d_03', 
			'sale-191015-en-m_03',
			false)
  |
  // image-map
  .image-map
    +map('https://www.lechateau.com/style/jump/All+Women/category/cat46020717',"Shop Women's Clothing on Sale")(style="top:0; left: 0; width: 33.33%; height:100%; position:absolute;")
    +map('https://www.lechateau.com/style/jump/All+Shoes/category/cat260038', "Shop the Outlet Store")(style="top:0; left: 33.33%; width: 33.33%; height:100%; position:absolute;")
    +map('https://www.lechateau.com/style/jump/All+Men/category/cat46020732', "Shop Men's Clothing on Sale")(style="top:0; left: 66.66%; width: 33.33%; height:100%; position:absolute;")
    |
    |
  |
|
|
// END - ROW
|
|
|
//-END--------------------

#dresses(style="height:0px")  &#160;
|
|
|
//-START ----------------------
// ROW - DRESSES
.row
  // image
  +bckImg('https://www.lechateau.com/style/jump/Dresses/category/cat260081', 
			"Shop Dresses on Sale", 
			"Tops from $20. Boots from $50. Sweaters from $10.", 
			'sale-191015-en-d_05', 
			'sale-191009-en-m_05-v2',
			false)
  |
  // image-map
  .image-map
    +map('https://www.lechateau.com/style/jump/Dresses/category/cat260081',"Shop Dresses on Sale")(style="top:0; left: 0; width: 33.33%; height:100%; position:absolute;")
    +map('https://www.lechateau.com/style/jump/All+Shoes/category/cat260038', "Shop Shoes on Sale")(style="top:0; left: 33.33%; width: 33.33%; height:100%; position:absolute;")
    +map('https://www.lechateau.com/style/jump/Sweaters+%26+Cardigans/category/cat38692358', "Shop Women's Sweaters on Sale")(style="top:0; left: 66.66%; width: 33.33%; height:100%; position:absolute;")
    |
    |
  |
|
|
// END - ROW
|
|
|
//-END--------------------


//-START ----------------------
// ROW - WOMEN
.row
  // image
  +bckImg('https://www.lechateau.com/style/jump/Coats+%26+Jackets/category/cat45920711', 
			"Shop Women's Coats on Sale", 
			"Coats from $90. Pants from $20. Blazers from $20.", 
			'sale-191015-en-d_07', 
			'sale-191015-en-m_07')
  |
  // image-map
  .image-map
    +map('https://www.lechateau.com/style/jump/Coats+%26+Jackets/category/cat45920711',"Shop Women's Coats on Sale")(style="top:0; left: 0; width: 33.33%; height:100%; position:absolute;")
    +map('https://www.lechateau.com/style/jump/Pants+%26+Skirts/category/cat260085', "Shop Women's Pants on Sale")(style="top:0; left: 33.33%; width: 33.33%; height:100%; position:absolute;")
    +map('https://www.lechateau.com/style/jump/50%25+Off+Blazers+%26+Separates/category/cat260075', "Shop Women's Blazers on Sale")(style="top:0; left: 66.66%; width: 33.33%; height:100%; position:absolute;")
    |
    |
  |
|
|
// END - ROW
|
|
|
//-END--------------------

#men(style="height:0px")  &#160;
|
|
|
//-START ----------------------
// ROW - MEN
.row
  // image
  +bckImg('https://www.lechateau.com/style/jump/40%25+Off+Blazers+%26+Separates/category/cat45820741', 
			"Shop Men's Blazers", 
			"Blazers from $40. SHIRTS FROM 60$*. TOPS & SWEATERS. From $20", 
			'sale-191009-en-d_09-v3', 
			'sale-191009-en-m_09-v3')
  |
  // image-map
  .image-map
    +map('https://www.lechateau.com/style/jump/Blazers+%26+Vests/category/cat270028',"Shop Men's Blazers on Sale")(style="top:0; left: 0; width: 33.33%; height:100%; position:absolute;")
    +map('https://www.lechateau.com/style/jump/Shirts/category/cat45640702', "Shop Men's Shirts on Sale")(style="top:0; left: 33.33%; width: 33.33%; height:100%; position:absolute;")
    +map('https://www.lechateau.com/style/jump/Tops+%26+Sweaters/category/cat270024', "Shop Men's Sweaters on Sale")(style="top:0; left: 66.66%; width: 33.33%; height:100%; position:absolute;")
    |
    |
  |
|
|
// END - ROW
|
|
|
//-END--------------------


+legal("*Select styles.")
|
|
|
|
|