// ROW - START
.row.row1
  //cta
  .ctas.LP-DESKTOP
    +cta('SHOP NOW', '/TEXT', 'seo')(class="btn-lc secondary margin-40", style="left:40%; top: 63%;")
    |
    |
  |
  |
  // image
  +bckImg('https://www.lechateau.com/style/jump/Women/category/catwfr10001', 'Shop Everything', 'rhis is the alt text', 'lechateau-091019-en-d_03', 'lechateau-091019-en-m_04', false)
  |
  // image-map
  .image-map
    +map('/test1', 'one')(style="top:0; left: 0; width: 33.33%; height:100%; position:absolute;")
    +map('/test2', 'two')(style="top:0; left: 33.33%; width: 33.33%; height:100%; position:absolute;")
    +map('/test3', 'three')(style="top:0; left: 66.66%; width: 33.33%; height:100%; position:absolute;")
    |
    |
  |
|
|
// END - ROW 
|
|
|


// ROW - START
.row.row2
  //cta
  .ctas.LP-DESKTOP
    +cta('SHOP NOW', '/TEXT', 'seo')(class="btn-lc secondary margin-00", style="left:25%; top: 3%;")
    |
    |
  |
  |
  // image
  +bckImg('https://www.lechateau.com/style/jump/Women/category/catwfr10001', 'Shop Everything', 'rhis is the alt text', 'lechateau-091019-en-d_03', 'lechateau-091019-en-m_04')
  |
  // image-map
  .image-map
    +map('/test1', 'one')(style="top:0; left: 0; width: 33.33%; height:100%; position:absolute;")
    +map('/test2', 'two')(style="top:0; left: 33.33%; width: 33.33%; height:100%; position:absolute;")
    +map('/test3', 'three')(style="top:0; left: 66.66%; width: 33.33%; height:100%; position:absolute;")
    |
    |
  |
|
|
// END - ROW 